In [7]:
import pandas as pd


graduate_csv = "graduate_earnings_all.csv"

graduate_df = pd.read_csv(graduate_csv)

In [8]:
graduate_df.head()

,institution_id,institution_name,deglevl_code,deglevl,degcip_4dig,ciptitle,grad_cohort,grad_cohort_label,year_postgrad,p25_earnings,p50_earnings,p75_earnings,cellcount,cell_suppressed,state,system,first_release,last_update,cpi_reportyear
0,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,1,NaN,NaN,NaN,NaN,1,CO,cdhe,8242018,8242018,2016
1,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,5,23108.0,34633.0,50141.0,73.0,0,CO,cdhe,8242018,8242018,2016
2,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,10,31990.0,41565.0,68312.0,65.0,0,CO,cdhe,8242018,8242018,2016
3,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,1,17794.0,25774.0,32213.0,46.0,0,CO,cdhe,8242018,8242018,2016
4,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,5,27763.0,36398.0,51928.0,79.0,0,CO,cdhe,8242018,8242018,2016

In [9]:
graduate_df.shape

(19958, 19)

In [10]:
reduced_graduate_df = graduate_df.loc[:, ["institution_name", "deglevl", "ciptitle","grad_cohort", "grad_cohort_label", "year_postgrad", "p25_earnings", "p50_earnings", "p75_earnings", "state"]]
reduced_graduate_df.head()

,institution_name,deglevl,ciptitle,grad_cohort,grad_cohort_label,year_postgrad,p25_earnings,p50_earnings,p75_earnings,state
0,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,1,NaN,NaN,NaN,CO
1,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,5,23108.0,34633.0,50141.0,CO
2,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,10,31990.0,41565.0,68312.0,CO
3,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,1,17794.0,25774.0,32213.0,CO
4,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,5,27763.0,36398.0,51928.0,CO

In [31]:
reduced_graduate_df = reduced_graduate_df.loc[(reduced_graduate_df["p25_earnings"] > 0)]
reduced_graduate_df.head(50)

,institution_name,deglevl,ciptitle,grad_cohort,grad_cohort_label,year_postgrad,p25_earnings,p50_earnings,p75_earnings,state
1,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,5,23108.0,34633.0,50141.0,CO
2,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,10,31990.0,41565.0,68312.0,CO
3,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,1,17794.0,25774.0,32213.0,CO
4,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,5,27763.0,36398.0,51928.0,CO
5,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,10,31012.0,43798.0,64121.0,CO
6,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2006,2006-2010,1,15288.0,22094.0,31857.0,CO
7,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2006,2006-2010,5,22329.0,31236.0,44914.0,CO
8,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2011,2011-2015,1,14923.0,20225.0,26616.0,CO
9,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,PETROLEUM ENGINEERING,2004,2004-2006,10,201545.0,319269.0,466933.0,TX
10,UNIV OF TEXAS HEALTH SCIENCE CENTER,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,180018.0,260641.0,436473.0,TX
11,UNIV OF TEXAS SOUTHWESTERN MED CTR,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,176838.0,268316.0,441456.0,TX
12,UT HEALTH CENTER-SAN ANTONIO,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,174649.0,262250.0,438311.0,TX
13,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,PETROLEUM ENGINEERING,2001,2001-2003,10,167417.0,251390.0,426799.0,TX
14,COLORADO SCHOOL OF MINES,Baccalaureate,PETROLEUM ENGINEERING,2004,2004-2006,10,166798.0,240921.0,394521.0,CO
15,UNIVERSITY OF COLORADO DENVER,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,165766.0,239801.0,400809.0,CO
16,UNIV OF TEXAS MEDICAL BRANCH,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,158116.0,252560.0,429026.0,TX
17,COLORADO SCHOOL OF MINES,Baccalaureate,PETROLEUM ENGINEERING,1998,1998-2000,10,148663.0,212089.0,312778.0,CO
18,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,PETROLEUM ENGINEERING,2004,2004-2006,5,146581.0,182280.0,232915.0,TX
19,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,PETROLEUM ENGINEERING,2007,2007-2009,5,142964.0,182940.0,232783.0,TX
20,COLORADO SCHOOL OF MINES,Baccalaureate,PETROLEUM ENGINEERING,2004,2004-2006,5,142765.0,180976.0,229220.0,CO
21,COLORADO SCHOOL OF MINES,Baccalaureate,PETROLEUM ENGINEERING,2001,2001-2003,10,142581.0,238227.0,404302.0,CO
22,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2011,2011-2015,1,140259.0,172991.0,210514.0,TX
23,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2006,2006-2010,5,122038.0,167939.0,213208.0,TX
24,COLORADO STATE UNIVERSITY,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,1996,1996-2000,10,122038.0,146893.0,184757.0,CO
25,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2006,2006-2010,5,121351.0,149017.0,234763.0,TX
26,COLORADO SCHOOL OF MINES,Baccalaureate,PETROLEUM ENGINEERING,2007,2007-2009,5,121098.0,159813.0,217057.0,CO
27,UNIVERSITY OF COLORADO-BOULDER,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2006,2006-2010,5,120363.0,139414.0,164940.0,CO
28,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2001,2001-2005,5,120053.0,144240.0,180215.0,TX
29,UNIVERSITY OF COLORADO-BOULDER,Doctoral - Research/Scholarship,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2006,2006-2010,5,117228.0,139816.0,201545.0,CO
30,UNIVERSITY OF TEXAS-AUSTIN,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2001,2001-2005,10,115339.0,158779.0,224205.0,TX
31,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,PETROLEUM ENGINEERING,2001,2001-2003,5,114098.0,148663.0,198793.0,TX
32,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2001,2001-2005,10,113850.0,153890.0,202922.0,TX
33,COLORADO SCHOOL OF MINES,Baccalaureate,PETROLEUM ENGINEERING,2001,2001-2003,5,113553.0,141291.0,192413.0,CO
34,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2006,2006-2010,1,112151.0,153426.0,200169.0,TX
35,UNIVERSITY OF COLORADO-BOULDER,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2001,2001-2005,10,110878.0,146135.0,202096.0,CO
36,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2001,2001-2005,5,110599.0,146009.0,184933.0,TX
37,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,ENGINEERING,2001,2001-2005,10,110444.0,145462.0,194770.0,TX
38,UNIVERSITY OF TEXAS-AUSTIN,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2006,2006-2010,5,110353.0,147925.0,203874.0,TX
39,UNIVERSITY OF TEXAS-AUSTIN,Masters,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2001,2001-2005,10,109505.0,160558.0,241148.0,TX
40,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,"BUSINESS/COMMERCE, GENERAL",2004,2004-2006,10,109262.0,160481.0,309526.0,TX
41,UNIVERSITY OF COLORADO DENVER,Doctoral - Professional Practice,"PHARMACY, PHARMACEUTICAL SCIENCES, AND ADMINIS...",2001,2001-2005,10,107652.0,126783.0,160499.0,CO
42,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2001,2001-2005,10,106421.0,146893.0,196729.0,TX
43,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Professional Practice,"PHARMACY, PHARMACEUTICAL SCIENCES, AND ADMINIS...",2006,2006-2010,5,105724.0,130885.0,154232.0,TX
44,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,"BUSINESS/COMMERCE, GENERAL",2001,2001-2003,10,105529.0,162153.0,258860.0,TX
45,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Professional Practice,"PHARMACY, PHARMACEUTICAL SCIENCES, AND ADMINIS...",2001,2001-2005,10,105503.0,133182.0,161048.0,TX
46,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2001,2001-2005,1,105306.0,140049.0,167989.0,TX
47,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Professional Practice,"PHARMACY, PHARMACEUTICAL SCIENCES, AND ADMINIS...",2001,2001-2005,5,105067.0,124912.0,150321.0,TX
48,UNIVERSITY OF COLORADO DENVER,Doctoral - Professional Practice,"PHARMACY, PHARMACEUTICAL SCIENCES, AND ADMINIS...",2001,2001-2005,5,105053.0,125667.0,150321.0,CO
49,UNIVERSITY OF TEXAS-AUSTIN,Doctoral - Research/Scholarship,MATHEMATICS AND STATISTICS,2001,2001-2005,5,104510.0,144240.0,196434.0,TX
50,UNIVERSITY OF COLORADO DENVER,Doctoral - Professional Practice,DENTISTRY,2001,2001-2005,10,104415.0,134287.0,199619.0,CO

In [28]:
reduced_graduate_df.isnull().any()

institution_name     False
deglevl              False
ciptitle             False
grad_cohort          False
grad_cohort_label    False
year_postgrad        False
p25_earnings         False
p50_earnings         False
p75_earnings         False
state                False
dtype: bool

In [34]:
clean_df = reduced_graduate_df.rename(index=str, columns={"institution_name": "College/University", "deglevl": "Degree", "ciptitle": "Program", "grad_cohort": "Cohort", "year_postgrad": "Years Post Grad", "p25_earnings": "25th Percentile Earnings", "p50_earnings": "50th Percentile Earnings", "p75_earnings": "75th Percentile Earnings", "state": "State"})

In [37]:
bachelor_df = clean_df.loc[(clean_df["Degree"]=="Baccalaureate")]
bachelor_df.head()

,College/University,Degree,Program,Cohort,grad_cohort_label,Years Post Grad,25th Percentile Earnings,50th Percentile Earnings,75th Percentile Earnings,State
9,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,PETROLEUM ENGINEERING,2004,2004-2006,10,201545.0,319269.0,466933.0,TX
13,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,PETROLEUM ENGINEERING,2001,2001-2003,10,167417.0,251390.0,426799.0,TX
14,COLORADO SCHOOL OF MINES,Baccalaureate,PETROLEUM ENGINEERING,2004,2004-2006,10,166798.0,240921.0,394521.0,CO
17,COLORADO SCHOOL OF MINES,Baccalaureate,PETROLEUM ENGINEERING,1998,1998-2000,10,148663.0,212089.0,312778.0,CO
18,UNIVERSITY OF TEXAS-AUSTIN,Baccalaureate,PETROLEUM ENGINEERING,2004,2004-2006,5,146581.0,182280.0,232915.0,TX

In [39]:
masters_df = clean_df.loc[(clean_df["Degree"]=="Masters")]
masters_df.head()

,College/University,Degree,Program,Cohort,grad_cohort_label,Years Post Grad,25th Percentile Earnings,50th Percentile Earnings,75th Percentile Earnings,State
24,COLORADO STATE UNIVERSITY,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,1996,1996-2000,10,122038.0,146893.0,184757.0,CO
30,UNIVERSITY OF TEXAS-AUSTIN,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2001,2001-2005,10,115339.0,158779.0,224205.0,TX
38,UNIVERSITY OF TEXAS-AUSTIN,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2006,2006-2010,5,110353.0,147925.0,203874.0,TX
39,UNIVERSITY OF TEXAS-AUSTIN,Masters,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",2001,2001-2005,10,109505.0,160558.0,241148.0,TX
54,UNIVERSITY OF TEXAS-AUSTIN,Masters,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,2001,2001-2005,5,102335.0,126177.0,158500.0,TX

In [40]:
doctoral_df = clean_df.loc[(clean_df["Degree"].str.contains("Doctoral"))]
doctoral_df.head()

,College/University,Degree,Program,Cohort,grad_cohort_label,Years Post Grad,25th Percentile Earnings,50th Percentile Earnings,75th Percentile Earnings,State
10,UNIV OF TEXAS HEALTH SCIENCE CENTER,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,180018.0,260641.0,436473.0,TX
11,UNIV OF TEXAS SOUTHWESTERN MED CTR,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,176838.0,268316.0,441456.0,TX
12,UT HEALTH CENTER-SAN ANTONIO,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,174649.0,262250.0,438311.0,TX
15,UNIVERSITY OF COLORADO DENVER,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,165766.0,239801.0,400809.0,CO
16,UNIV OF TEXAS MEDICAL BRANCH,Doctoral - Professional Practice,MEDICINE,2001,2001-2005,10,158116.0,252560.0,429026.0,TX