In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [11]:
tx_top_6_bachelor = "tx_top_6.csv"

tx_bachelor_df = pd.read_csv(tx_top_6_bachelor)
tx_bachelor_df

,State,Program,College/University,Years Post Grad,Cohort,Average Earnings
0,TX,PETROLEUM ENGINEERING,UNIVERSITY OF TEXAS-AUSTIN,10,2004,"$329,249.00"
1,TX,"BUSINESS/COMMERCE, GENERAL",UNIVERSITY OF TEXAS-AUSTIN,10,2004,"$193,089.67"
2,TX,CHEMICAL ENGINEERING,UNIVERSITY OF TEXAS-AUSTIN,10,2004,"$130,007.33"
3,TX,ACCOUNTING AND RELATED SERVICES,UNIVERSITY OF TEXAS-AUSTIN,10,2004,"$129,976.67"
4,TX,FINANCE AND FINANCIAL MANAGEMENT SERVICES,UNIVERSITY OF TEXAS-AUSTIN,10,2004,"$129,038.33"
5,TX,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",UNIVERSITY OF TEXAS-AUSTIN,10,2004,"$126,409.00"

In [13]:
#Create a list of the average earnings
average_earnings = tx_bachelor_df.loc[tx_bachelor_df["Average Earnings"]]

# Create a list of the years that we will use as our x axis
cohort = [2004]

# Plot our line that will be used to track a wrestler's wins over the years
plt.bar(cohort, average_earnings, color="green")

# Plot our line that will be used to track a wrestler's losses over the years
#plt.plot(years, losses_over_time, color="blue", label="Losses")

# Place a legend on the chart in what matplotlib believes to be the "best" location
plt.legend(loc="best")

plt.title(wrestler_name + "'s Recent Career")
plt.xlabel("Years")
plt.ylabel("Number of Wins/Losses")

# Print our chart to the screen
plt.show()

KeyError: 'None of [0    $329,249.00 \n1    $193,089.67 \n2    $130,007.33 \n3    $129,976.67 \n4    $129,038.33 \n5    $126,409.00 \nName: Average Earnings, dtype: object] are in the [index]'