In [2]:
import pandas as pd
import numpy as np
import os 

#import CSV
graduate_csv = "graduate_earnings_all.csv"

graduate_df = pd.read_csv(graduate_csv)

In [3]:
reduced_graduate_df = reduced_graduate_df.loc[(reduced_graduate_df["p25_earnings"] > 0)]
reduced_graduate_df.head(5)

NameError: name 'reduced_graduate_df' is not defined

In [6]:
#Create new DF with columns needed for analysis
reduced_graduate_df = graduate_df.loc[:, ["institution_name", "deglevl", "ciptitle","grad_cohort", "grad_cohort_label", "year_postgrad", "p25_earnings", "p50_earnings", "p75_earnings", "state"]]
reduced_graduate_df.head()

,institution_name,deglevl,ciptitle,grad_cohort,grad_cohort_label,year_postgrad,p25_earnings,p50_earnings,p75_earnings,state
0,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,1,NaN,NaN,NaN,CO
1,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,5,23108.0,34633.0,50141.0,CO
2,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,10,31990.0,41565.0,68312.0,CO
3,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,1,17794.0,25774.0,32213.0,CO
4,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,5,27763.0,36398.0,51928.0,CO

In [7]:
#Check for null values
reduced_graduate_df.isnull().any()

institution_name     False
deglevl              False
ciptitle             False
grad_cohort          False
grad_cohort_label    False
year_postgrad        False
p25_earnings          True
p50_earnings          True
p75_earnings          True
state                False
dtype: bool

In [8]:
#Rename columns
clean_df = reduced_graduate_df.rename(index=str, columns={"institution_name": "College/University", "deglevl": "Degree", "ciptitle": "Program", "grad_cohort": "Cohort", "year_postgrad": "Years Post Grad", "p25_earnings": "25th Percentile Earnings", "p50_earnings": "50th Percentile Earnings", "p75_earnings": "75th Percentile Earnings", "state": "State"})

In [9]:
#Add Average Earnings column to simplify earnings analysis
clean_df['Average Earnings'] = clean_df[["25th Percentile Earnings", "50th Percentile Earnings", "75th Percentile Earnings"]].apply(np.mean, axis=1)
clean_df.loc[:,"Average Earnings"] = clean_df["Average Earnings"].astype(float).map("${:,.2f}".format)
clean_df.head()


#Final clean DF
new_clean_df = clean_df.loc[:, ["State", "College/University", "Program", "Degree", "Cohort", "Years Post Grad", "Average Earnings"]]
new_clean_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
0,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,1996,1,$nan
1,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,1996,5,"$35,960.67"
2,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,1996,10,"$47,289.00"
3,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,2001,1,"$25,260.33"
4,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,2001,5,"$38,696.33"
5,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,2001,10,"$46,310.33"

In [10]:
#We are only analyzing the data for Bachelor, Masters, and Doctorates degrees
#Filtered by Bachelors
bachelor_df = new_clean_df.loc[(new_clean_df["Degree"]=="Baccalaureate")]
bachelor_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
9,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,10,"$329,249.00"
14,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2001,10,"$281,868.67"
15,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2004,10,"$267,413.33"
17,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2001,10,"$261,703.33"
18,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,1998,10,"$224,510.00"
19,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2007,5,"$186,229.00"

In [75]:
#Highest Average Earnings Bachelor Degrees in TX
tx_bachelor_df = bachelor_df.loc[(new_clean_df["State"]=="TX")]
tx_bachelor_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
9,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,10,"$329,249.00"
14,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2001,10,"$281,868.67"
19,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2007,5,"$186,229.00"
20,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,5,"$187,258.67"
28,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2001,10,"$175,514.00"
30,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2004,10,"$193,089.67"

In [11]:
#Highest Average Earnings Bachelor Degrees in CO
co_bachelor_df = bachelor_df.loc[(new_clean_df["State"]=="CO")]
co_bachelor_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
15,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2004,10,"$267,413.33"
17,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2001,10,"$261,703.33"
18,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,1998,10,"$224,510.00"
21,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2004,5,"$184,320.33"
31,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2007,5,"$165,989.33"
58,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2001,5,"$149,085.67"

In [12]:
#Filtered by Masters
masters_df = new_clean_df.loc[(new_clean_df["Degree"]=="Masters")]
masters_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
29,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Masters,2001,10,"$170,403.67"
33,TX,UNIVERSITY OF TEXAS-AUSTIN,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,2001,10,"$166,107.67"
37,CO,COLORADO SCHOOL OF MINES,PHYSICAL SCIENCES,Masters,2001,10,"$171,280.67"
46,TX,UNIVERSITY OF TEXAS-AUSTIN,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,2006,5,"$154,050.67"
47,CO,COLORADO STATE UNIVERSITY,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,1996,10,"$151,229.33"
63,CO,COLORADO SCHOOL OF MINES,SOCIAL SCIENCES,Masters,2001,10,"$141,780.33"

In [13]:
#Highest Average Earnings Masters Degrees in TX
tx_masters_df = masters_df.loc[(new_clean_df["State"]=="TX")]
tx_masters_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
29,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Masters,2001,10,"$170,403.67"
33,TX,UNIVERSITY OF TEXAS-AUSTIN,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,2001,10,"$166,107.67"
46,TX,UNIVERSITY OF TEXAS-AUSTIN,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,2006,5,"$154,050.67"
66,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Masters,2006,5,"$141,895.00"
72,TX,UNIVERSITY OF TEXAS-AUSTIN,ENGINEERING,Masters,2001,10,"$138,439.67"
78,TX,UNIVERSITY OF TEXAS AT DALLAS,ENGINEERING,Masters,2001,10,"$132,653.00"

In [14]:
#Highest Average Earnings Masters Degrees in CO
co_masters_df = masters_df.loc[(new_clean_df["State"]=="CO")]
co_masters_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
37,CO,COLORADO SCHOOL OF MINES,PHYSICAL SCIENCES,Masters,2001,10,"$171,280.67"
47,CO,COLORADO STATE UNIVERSITY,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,1996,10,"$151,229.33"
63,CO,COLORADO SCHOOL OF MINES,SOCIAL SCIENCES,Masters,2001,10,"$141,780.33"
64,CO,UNIVERSITY OF COLORADO DENVER,HEALTH PROFESSIONS AND RELATED PROGRAMS,Masters,1996,10,"$149,856.00"
68,CO,COLORADO SCHOOL OF MINES,PHYSICAL SCIENCES,Masters,1996,10,"$138,754.00"
79,CO,UNIVERSITY OF COLORADO-BOULDER,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,2001,10,"$137,432.67"

In [15]:
#Filtered by Doctoral Degrees
doctoral_df = new_clean_df.loc[(new_clean_df["Degree"].str.contains("Doctoral"))]
doctoral_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
10,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,MEDICINE,Doctoral - Professional Practice,2001,10,"$295,536.67"
11,TX,UT HEALTH CENTER-SAN ANTONIO,MEDICINE,Doctoral - Professional Practice,2001,10,"$291,736.67"
12,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,MEDICINE,Doctoral - Professional Practice,2001,10,"$292,377.33"
13,TX,UNIV OF TEXAS MEDICAL BRANCH,MEDICINE,Doctoral - Professional Practice,2001,10,"$279,900.67"
16,CO,UNIVERSITY OF COLORADO DENVER,MEDICINE,Doctoral - Professional Practice,2001,10,"$268,792.00"
22,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Doctoral - Research/Scholarship,2011,1,"$174,588.00"

In [16]:
#Highest Average Earnings Doctoral Degrees in TX
tx_doctoral_df = doctoral_df.loc[(new_clean_df["State"]=="TX")]
tx_doctoral_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
10,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,MEDICINE,Doctoral - Professional Practice,2001,10,"$295,536.67"
11,TX,UT HEALTH CENTER-SAN ANTONIO,MEDICINE,Doctoral - Professional Practice,2001,10,"$291,736.67"
12,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,MEDICINE,Doctoral - Professional Practice,2001,10,"$292,377.33"
13,TX,UNIV OF TEXAS MEDICAL BRANCH,MEDICINE,Doctoral - Professional Practice,2001,10,"$279,900.67"
22,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Doctoral - Research/Scholarship,2011,1,"$174,588.00"
23,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,MEDICINE,Doctoral - Professional Practice,2006,5,"$172,807.67"

In [17]:
#Highest Average Earnings Doctoral Degrees in CO
co_doctoral_df = doctoral_df.loc[(new_clean_df["State"]=="CO")]
co_doctoral_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
16,CO,UNIVERSITY OF COLORADO DENVER,MEDICINE,Doctoral - Professional Practice,2001,10,"$268,792.00"
51,CO,UNIVERSITY OF COLORADO-BOULDER,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Doctoral - Research/Scholarship,2001,10,"$153,036.33"
56,CO,UNIVERSITY OF COLORADO DENVER,MEDICINE,Doctoral - Professional Practice,2006,5,"$143,945.67"
61,CO,UNIVERSITY OF COLORADO-BOULDER,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Doctoral - Research/Scholarship,2006,5,"$152,863.00"
62,CO,UNIVERSITY OF COLORADO-BOULDER,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Doctoral - Research/Scholarship,2006,5,"$141,572.33"
65,CO,UNIVERSITY OF COLORADO DENVER,DENTISTRY,Doctoral - Professional Practice,2001,10,"$146,107.00"

In [19]:
#Highest Average Earnings Bachelor Degrees in TX
tx_bachelor_df = bachelor_df.loc[(new_clean_df["State"]=="TX")]
tx_bachelor_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
9,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,10,"$329,249.00"
14,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2001,10,"$281,868.67"
19,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2007,5,"$186,229.00"
20,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,5,"$187,258.67"
28,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2001,10,"$175,514.00"
30,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2004,10,"$193,089.67"

In [20]:
tx_bachelor2_df = tx_bachelor_df.sort_values("Average Earnings", ascending=False)
tx_bachelor2_df

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
19957,TX,UNIVERSITY OF TEXAS-AUSTIN,ZOOLOGY/ANIMAL BIOLOGY,Baccalaureate,2007,5,$nan
16613,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LINGUISTIC, COMPARATIVE, AND RELATED LANGUAGE ...",Baccalaureate,2013,1,$nan
16542,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2004,10,$nan
16541,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2004,5,$nan
16540,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2004,1,$nan
16539,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2001,10,$nan
16538,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2001,5,$nan
16537,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2001,1,$nan
16536,TX,UNIVERSITY OF TEXAS-PERMIAN BASIN,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2013,1,$nan
16535,TX,UNIVERSITY OF TEXAS-PERMIAN BASIN,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2010,1,$nan
16533,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2013,1,$nan
16532,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2010,1,$nan
16531,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2007,5,$nan
16530,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2007,1,$nan
16529,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2004,10,$nan
16528,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2004,5,$nan
16527,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2004,1,$nan
16526,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2001,10,$nan
16525,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2001,5,$nan
16524,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2001,1,$nan
16510,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2004,10,$nan
16543,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2007,1,$nan
16544,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2007,5,$nan
16545,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2010,1,$nan
16603,TX,UNIVERSITY OF TEXAS-ARLINGTON,"LINGUISTIC, COMPARATIVE, AND RELATED LANGUAGE ...",Baccalaureate,2004,5,$nan
16611,TX,UNIVERSITY OF TEXAS-EL PASO,"LINGUISTIC, COMPARATIVE, AND RELATED LANGUAGE ...",Baccalaureate,2013,1,$nan
16610,TX,UNIVERSITY OF TEXAS-EL PASO,"LINGUISTIC, COMPARATIVE, AND RELATED LANGUAGE ...",Baccalaureate,2010,1,$nan
16609,TX,UNIVERSITY OF TEXAS-AUSTIN,"LINGUISTIC, COMPARATIVE, AND RELATED LANGUAGE ...",Baccalaureate,2004,10,$nan
16608,TX,UNIVERSITY OF TEXAS-ARLINGTON,"LINGUISTIC, COMPARATIVE, AND RELATED LANGUAGE ...",Baccalaureate,2013,1,$nan
16607,TX,UNIVERSITY OF TEXAS-ARLINGTON,"LINGUISTIC, COMPARATIVE, AND RELATED LANGUAGE ...",Baccalaureate,2010,1,$nan
...,...,...,...,...,...,...,...
960,TX,UNIVERSITY OF TEXAS-AUSTIN,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2001,10,"$113,257.00"
160,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2007,5,"$112,724.33"
253,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2001,5,"$112,237.67"
237,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2004,5,"$111,863.67"
176,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,5,"$110,933.67"
217,TX,UNIVERSITY OF TEXAS-AUSTIN,MANAGEMENT INFORMATION SYSTEMS AND SERVICES,Baccalaureate,2001,10,"$110,180.33"
177,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,1,"$108,529.00"
948,TX,UNIVERSITY OF TEXAS-ARLINGTON,MECHANICAL ENGINEERING,Baccalaureate,2004,10,"$107,442.33"
1030,TX,UNIVERSITY OF TEXAS-AUSTIN,"BIOLOGY, GENERAL",Baccalaureate,2001,10,"$107,357.67"
268,TX,UNIVERSITY OF TEXAS-AUSTIN,CIVIL ENGINEERING,Baccalaureate,2004,10,"$106,983.00"
968,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,10,"$106,663.00"
1497,TX,UNIVERSITY OF TEXAS-AUSTIN,GEOLOGICAL AND EARTH SCIENCES/GEOSCIENCES,Baccalaureate,2004,10,"$106,118.33"
1080,TX,UNIVERSITY OF TEXAS-AUSTIN,GEOLOGICAL AND EARTH SCIENCES/GEOSCIENCES,Baccalaureate,2007,5,"$105,476.00"
1207,TX,UNIVERSITY OF TEXAS-AUSTIN,"BIOCHEMISTRY, BIOPHYSICS AND MOLECULAR BIOLOGY",Baccalaureate,2001,10,"$105,415.00"
1013,TX,UNIVERSITY OF TEXAS-AUSTIN,ECONOMICS,Baccalaureate,2004,10,"$105,002.33"
235,TX,UNIVERSITY OF TEXAS-AUSTIN,"AEROSPACE, AERONAUTICAL AND ASTRONAUTICAL ENGI...",Baccalaureate,2004,10,"$104,686.33"
941,TX,UNIVERSITY OF TEXAS-AUSTIN,"AEROSPACE, AERONAUTICAL AND ASTRONAUTICAL ENGI...",Baccalaureate,2001,10,"$104,356.67"
990,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,1,"$104,250.33"
946,TX,UNIVERSITY OF TEXAS-EL PASO,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,10,"$104,091.00"
959,TX,UNIVERSITY OF TEXAS-AUSTIN,ARCHITECTURAL ENGINEERING,Baccalaureate,2004,10,"$103,925.00"
979,TX,UNIVERSITY OF TEXAS AT DALLAS,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,10,"$103,569.67"
987,TX,UNIVERSITY OF TEXAS AT DALLAS,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2004,10,"$102,792.67"
269,TX,UNIVERSITY OF TEXAS-AUSTIN,CHEMICAL ENGINEERING,Baccalaureate,2007,5,"$102,682.67"
254,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,5,"$102,266.67"
1053,TX,UNIVERSITY OF TEXAS-AUSTIN,ECONOMICS,Baccalaureate,2001,10,"$101,770.33"
965,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2007,1,"$101,663.33"
940,TX,UNIVERSITY OF TEXAS-ARLINGTON,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,10,"$101,645.33"
983,TX,UNIVERSITY OF TEXAS-EL PASO,MECHANICAL ENGINEERING,Baccalaureate,2004,10,"$101,611.33"
263,TX,UNIV OF TEXAS MEDICAL BRANCH,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,10,"$101,505.67"
967,TX,UNIVERSITY OF TEXAS-ARLINGTON,COMPUTER ENGINEERING,Baccalaureate,2004,10,"$100,644.33"

In [71]:
tx_bachelor_df = tx_bachelor_df.sort_values(["Program", "Average Earnings"], ascending=True)
tx_bachelor_df.head()

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
93,TX,UNIVERSITY OF TEXAS-AUSTIN,ACCOUNTING AND RELATED SERVICES,Baccalaureate,2004,10,"$129,976.67"
77,TX,UNIVERSITY OF TEXAS-AUSTIN,ACCOUNTING AND RELATED SERVICES,Baccalaureate,2001,10,"$136,081.00"
8486,TX,UNIVERSITY OF TEXAS - BROWNSVILLE,ACCOUNTING AND RELATED SERVICES,Baccalaureate,2010,1,"$34,471.67"
8502,TX,UNIVERSITY OF TEXAS - BROWNSVILLE,ACCOUNTING AND RELATED SERVICES,Baccalaureate,2004,1,"$36,044.67"
8250,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,ACCOUNTING AND RELATED SERVICES,Baccalaureate,2010,1,"$37,051.33"

In [22]:
#average earnings for percentile for cohorts (all subjects)

import csv
def makedic(filename):
	f = open(filename, "r")
	reader = csv.reader(f)
	newl = []
	for i in reader:
		line = i
		dic = {}
		dic['id'] = line[0]
		dic['school'] = line[1]
		dic['degree'] = line[3]
		dic['cohort'] = line[6]
		dic['p25'] = line[9]
		dic['p50'] = line[10]
		dic['p75'] = line[11]
		newl.append(dic)
	return newl

def aveCohort(l):
	dic = {}
	for i in l:
		if i['cohort'] in dic.keys():
			try:
				newl = dic[i['cohort']]
				newl[0] = newl[0] + int(i['p25'])
				newl[1] = newl[1] + int(i['p50'])
				newl[2] = newl[2] + int(i['p75'])
				newl[3] = newl[3] + 1
			except:
				pass
		else:
			try:
				newl = []
				newl.append(int(i['p25']))
				newl.append(int(i['p50']))
				newl.append(int(i['p75']))
				newl.append(1)
				dic[i['cohort']] = newl
			except:
				pass
	for i in dic.keys():
		print("cohort: " + i)
		print("the average salary at 25 is:" + str(float(dic[i][0])/dic[i][3]))
		print("the average salary at 50 is:" + str(float(dic[i][1])/dic[i][3]))
		print("the average salary at 75 is:" + str(float(dic[i][2])/dic[i][3]))
		print("\n\n")
	return dic
	

def main():
	filename = 'graduate_earnings_all.csv'
	data = makedic(filename)
	aveCohort(data)
	
main()

cohort: 1996
the average salary at 25 is:41885.98395721925
the average salary at 50 is:57129.71122994652
the average salary at 75 is:76580.4367201426



cohort: 2001
the average salary at 25 is:40580.36921494686
the average salary at 50 is:54823.0301679808
the average salary at 75 is:73048.87624271512



cohort: 2006
the average salary at 25 is:39247.3883029722
the average salary at 50 is:53216.663470757434
the average salary at 75 is:70989.57430488974



cohort: 2011
the average salary at 25 is:34119.80173913044
the average salary at 50 is:46387.56695652174
the average salary at 75 is:61970.51130434783



cohort: 2004
the average salary at 25 is:38221.85865257596
the average salary at 50 is:51141.637384412155
the average salary at 75 is:67117.81902245707



cohort: 1998
the average salary at 25 is:38404.89638157895
the average salary at 50 is:52381.13651315789
the average salary at 75 is:69474.74835526316



cohort: 2007
the average salary at 25 is:34009.92230347349
the average salary at 50 is:45298.22212065814
the average salary at 75 is:58406.531078610606



cohort: 2013
the average salary at 25 is:29687.65977443609
the average salary at 50 is:39636.20864661654
the average salary at 75 is:51539.75187969925



cohort: 2010
the average salary at 25 is:27961.80977312391
the average salary at 50 is:37358.931937172776
the average salary at 75 is:48697.64397905759