In [30]:
import pandas as pd
import numpy as np
import os 

#import CSV
graduate_csv = "graduate_earnings_all.csv"

graduate_df = pd.read_csv(graduate_csv)

In [31]:
reduced_graduate_df = graduate_df.loc[(reduced_graduate_df["p25_earnings"] > 0)]
reduced_graduate_df.head(5)

,institution_id,institution_name,deglevl_code,deglevl,degcip_4dig,ciptitle,grad_cohort,grad_cohort_label,year_postgrad,p25_earnings,p50_earnings,p75_earnings,cellcount,cell_suppressed,state,system,first_release,last_update,cpi_reportyear
1,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,5,23108.0,34633.0,50141.0,73.0,0,CO,cdhe,8242018,8242018,2016
2,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,10,31990.0,41565.0,68312.0,65.0,0,CO,cdhe,8242018,8242018,2016
3,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,1,17794.0,25774.0,32213.0,46.0,0,CO,cdhe,8242018,8242018,2016
4,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,5,27763.0,36398.0,51928.0,79.0,0,CO,cdhe,8242018,8242018,2016
5,1345,ADAMS STATE COLLEGE,3,Associates,2401,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,10,31012.0,43798.0,64121.0,85.0,0,CO,cdhe,8242018,8242018,2016

In [32]:
#Create new DF with columns needed for analysis
reduced_graduate_df = graduate_df.loc[:, ["institution_name", "deglevl", "ciptitle","grad_cohort", "grad_cohort_label", "year_postgrad", "p25_earnings", "p50_earnings", "p75_earnings", "state"]]
reduced_graduate_df.head()

,institution_name,deglevl,ciptitle,grad_cohort,grad_cohort_label,year_postgrad,p25_earnings,p50_earnings,p75_earnings,state
0,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,1,NaN,NaN,NaN,CO
1,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,5,23108.0,34633.0,50141.0,CO
2,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",1996,1996-2000,10,31990.0,41565.0,68312.0,CO
3,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,1,17794.0,25774.0,32213.0,CO
4,ADAMS STATE COLLEGE,Associates,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",2001,2001-2005,5,27763.0,36398.0,51928.0,CO

In [33]:
#Check for null values
reduced_graduate_df.isnull().any()

institution_name     False
deglevl              False
ciptitle             False
grad_cohort          False
grad_cohort_label    False
year_postgrad        False
p25_earnings          True
p50_earnings          True
p75_earnings          True
state                False
dtype: bool

In [34]:
#Rename columns
clean_df = reduced_graduate_df.rename(index=str, columns={"institution_name": "College/University", "deglevl": "Degree", "ciptitle": "Program", "grad_cohort": "Cohort", "year_postgrad": "Years Post Grad", "p25_earnings": "25th Percentile Earnings", "p50_earnings": "50th Percentile Earnings", "p75_earnings": "75th Percentile Earnings", "state": "State"})

In [35]:
#Add Average Earnings column to simplify earnings analysis
clean_df['Average Earnings'] = clean_df[["25th Percentile Earnings", "50th Percentile Earnings", "75th Percentile Earnings"]].apply(np.mean, axis=1)
clean_df.loc[:,"Average Earnings"] = clean_df["Average Earnings"].astype(float).map("${:,.2f}".format)
clean_df.head()


#Final clean DF
new_clean_df = clean_df.loc[:, ["State", "College/University", "Program", "Degree", "Cohort", "Years Post Grad", "Average Earnings"]]
new_clean_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
0,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,1996,1,$nan
1,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,1996,5,"$35,960.67"
2,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,1996,10,"$47,289.00"
3,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,2001,1,"$25,260.33"
4,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,2001,5,"$38,696.33"
5,CO,ADAMS STATE COLLEGE,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Associates,2001,10,"$46,310.33"

In [36]:
#We are only analyzing the data for Bachelor, Masters, and Doctorates degrees
#Filtered by Bachelors
bachelor_df = new_clean_df.loc[(new_clean_df["Degree"]=="Baccalaureate")]
bachelor_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
9,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,10,"$329,249.00"
14,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2001,10,"$281,868.67"
15,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2004,10,"$267,413.33"
17,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2001,10,"$261,703.33"
18,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,1998,10,"$224,510.00"
19,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2007,5,"$186,229.00"

In [37]:
#Highest Average Earnings Bachelor Degrees in TX
tx_bachelor_df = bachelor_df.loc[(new_clean_df["State"]=="TX")]
tx_bachelor_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
9,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,10,"$329,249.00"
14,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2001,10,"$281,868.67"
19,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2007,5,"$186,229.00"
20,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,5,"$187,258.67"
28,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2001,10,"$175,514.00"
30,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2004,10,"$193,089.67"

In [38]:
#Highest Average Earnings Bachelor Degrees in CO
co_bachelor_df = bachelor_df.loc[(new_clean_df["State"]=="CO")]
co_bachelor_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
15,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2004,10,"$267,413.33"
17,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2001,10,"$261,703.33"
18,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,1998,10,"$224,510.00"
21,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2004,5,"$184,320.33"
31,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2007,5,"$165,989.33"
58,CO,COLORADO SCHOOL OF MINES,PETROLEUM ENGINEERING,Baccalaureate,2001,5,"$149,085.67"

In [39]:
#Filtered by Masters
masters_df = new_clean_df.loc[(new_clean_df["Degree"]=="Masters")]
masters_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
29,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Masters,2001,10,"$170,403.67"
33,TX,UNIVERSITY OF TEXAS-AUSTIN,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,2001,10,"$166,107.67"
37,CO,COLORADO SCHOOL OF MINES,PHYSICAL SCIENCES,Masters,2001,10,"$171,280.67"
46,TX,UNIVERSITY OF TEXAS-AUSTIN,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,2006,5,"$154,050.67"
47,CO,COLORADO STATE UNIVERSITY,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,1996,10,"$151,229.33"
63,CO,COLORADO SCHOOL OF MINES,SOCIAL SCIENCES,Masters,2001,10,"$141,780.33"

In [40]:
#Highest Average Earnings Masters Degrees in TX
tx_masters_df = masters_df.loc[(new_clean_df["State"]=="TX")]
tx_masters_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
29,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Masters,2001,10,"$170,403.67"
33,TX,UNIVERSITY OF TEXAS-AUSTIN,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,2001,10,"$166,107.67"
46,TX,UNIVERSITY OF TEXAS-AUSTIN,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,2006,5,"$154,050.67"
66,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Masters,2006,5,"$141,895.00"
72,TX,UNIVERSITY OF TEXAS-AUSTIN,ENGINEERING,Masters,2001,10,"$138,439.67"
78,TX,UNIVERSITY OF TEXAS AT DALLAS,ENGINEERING,Masters,2001,10,"$132,653.00"

In [41]:
#Highest Average Earnings Masters Degrees in CO
co_masters_df = masters_df.loc[(new_clean_df["State"]=="CO")]
co_masters_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
37,CO,COLORADO SCHOOL OF MINES,PHYSICAL SCIENCES,Masters,2001,10,"$171,280.67"
47,CO,COLORADO STATE UNIVERSITY,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,1996,10,"$151,229.33"
63,CO,COLORADO SCHOOL OF MINES,SOCIAL SCIENCES,Masters,2001,10,"$141,780.33"
64,CO,UNIVERSITY OF COLORADO DENVER,HEALTH PROFESSIONS AND RELATED PROGRAMS,Masters,1996,10,"$149,856.00"
68,CO,COLORADO SCHOOL OF MINES,PHYSICAL SCIENCES,Masters,1996,10,"$138,754.00"
79,CO,UNIVERSITY OF COLORADO-BOULDER,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Masters,2001,10,"$137,432.67"

In [42]:
#Filtered by Doctoral Degrees
doctoral_df = new_clean_df.loc[(new_clean_df["Degree"].str.contains("Doctoral"))]
doctoral_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
10,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,MEDICINE,Doctoral - Professional Practice,2001,10,"$295,536.67"
11,TX,UT HEALTH CENTER-SAN ANTONIO,MEDICINE,Doctoral - Professional Practice,2001,10,"$291,736.67"
12,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,MEDICINE,Doctoral - Professional Practice,2001,10,"$292,377.33"
13,TX,UNIV OF TEXAS MEDICAL BRANCH,MEDICINE,Doctoral - Professional Practice,2001,10,"$279,900.67"
16,CO,UNIVERSITY OF COLORADO DENVER,MEDICINE,Doctoral - Professional Practice,2001,10,"$268,792.00"
22,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Doctoral - Research/Scholarship,2011,1,"$174,588.00"

In [43]:
#Highest Average Earnings Doctoral Degrees in TX
tx_doctoral_df = doctoral_df.loc[(new_clean_df["State"]=="TX")]
tx_doctoral_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
10,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,MEDICINE,Doctoral - Professional Practice,2001,10,"$295,536.67"
11,TX,UT HEALTH CENTER-SAN ANTONIO,MEDICINE,Doctoral - Professional Practice,2001,10,"$291,736.67"
12,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,MEDICINE,Doctoral - Professional Practice,2001,10,"$292,377.33"
13,TX,UNIV OF TEXAS MEDICAL BRANCH,MEDICINE,Doctoral - Professional Practice,2001,10,"$279,900.67"
22,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Doctoral - Research/Scholarship,2011,1,"$174,588.00"
23,TX,UNIV OF TEXAS HEALTH SCIENCE CENTER,MEDICINE,Doctoral - Professional Practice,2006,5,"$172,807.67"

In [44]:
#Highest Average Earnings Doctoral Degrees in CO
co_doctoral_df = doctoral_df.loc[(new_clean_df["State"]=="CO")]
co_doctoral_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
16,CO,UNIVERSITY OF COLORADO DENVER,MEDICINE,Doctoral - Professional Practice,2001,10,"$268,792.00"
51,CO,UNIVERSITY OF COLORADO-BOULDER,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Doctoral - Research/Scholarship,2001,10,"$153,036.33"
56,CO,UNIVERSITY OF COLORADO DENVER,MEDICINE,Doctoral - Professional Practice,2006,5,"$143,945.67"
61,CO,UNIVERSITY OF COLORADO-BOULDER,COMPUTER AND INFORMATION SCIENCES AND SUPPORT ...,Doctoral - Research/Scholarship,2006,5,"$152,863.00"
62,CO,UNIVERSITY OF COLORADO-BOULDER,"BUSINESS, MANAGEMENT, MARKETING, AND RELATED S...",Doctoral - Research/Scholarship,2006,5,"$141,572.33"
65,CO,UNIVERSITY OF COLORADO DENVER,DENTISTRY,Doctoral - Professional Practice,2001,10,"$146,107.00"

In [45]:
#Highest Average Earnings Bachelor Degrees in TX
tx_bachelor_df = bachelor_df.loc[(new_clean_df["State"]=="TX")]
tx_bachelor_df.head(6)

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
9,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,10,"$329,249.00"
14,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2001,10,"$281,868.67"
19,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2007,5,"$186,229.00"
20,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,5,"$187,258.67"
28,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2001,10,"$175,514.00"
30,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2004,10,"$193,089.67"

In [46]:
tx_bachelor2_df = tx_bachelor_df.sort_values("Average Earnings", ascending=False)
tx_bachelor2_df

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
19957,TX,UNIVERSITY OF TEXAS-AUSTIN,ZOOLOGY/ANIMAL BIOLOGY,Baccalaureate,2007,5,$nan
16613,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LINGUISTIC, COMPARATIVE, AND RELATED LANGUAGE ...",Baccalaureate,2013,1,$nan
16542,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2004,10,$nan
16541,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2004,5,$nan
16540,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2004,1,$nan
16539,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2001,10,$nan
16538,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2001,5,$nan
16537,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2001,1,$nan
16536,TX,UNIVERSITY OF TEXAS-PERMIAN BASIN,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2013,1,$nan
16535,TX,UNIVERSITY OF TEXAS-PERMIAN BASIN,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2010,1,$nan
16533,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2013,1,$nan
16532,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2010,1,$nan
16531,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2007,5,$nan
16530,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2007,1,$nan
16529,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2004,10,$nan
16528,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2004,5,$nan
16527,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2004,1,$nan
16526,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2001,10,$nan
16525,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2001,5,$nan
16524,TX,UNIVERSITY OF TEXAS AT DALLAS,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2001,1,$nan
16510,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2004,10,$nan
16543,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2007,1,$nan
16544,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2007,5,$nan
16545,TX,UNIVERSITY OF TEXAS-SAN ANTONIO,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2010,1,$nan
16603,TX,UNIVERSITY OF TEXAS-ARLINGTON,"LINGUISTIC, COMPARATIVE, AND RELATED LANGUAGE ...",Baccalaureate,2004,5,$nan
16611,TX,UNIVERSITY OF TEXAS-EL PASO,"LINGUISTIC, COMPARATIVE, AND RELATED LANGUAGE ...",Baccalaureate,2013,1,$nan
16610,TX,UNIVERSITY OF TEXAS-EL PASO,"LINGUISTIC, COMPARATIVE, AND RELATED LANGUAGE ...",Baccalaureate,2010,1,$nan
16609,TX,UNIVERSITY OF TEXAS-AUSTIN,"LINGUISTIC, COMPARATIVE, AND RELATED LANGUAGE ...",Baccalaureate,2004,10,$nan
16608,TX,UNIVERSITY OF TEXAS-ARLINGTON,"LINGUISTIC, COMPARATIVE, AND RELATED LANGUAGE ...",Baccalaureate,2013,1,$nan
16607,TX,UNIVERSITY OF TEXAS-ARLINGTON,"LINGUISTIC, COMPARATIVE, AND RELATED LANGUAGE ...",Baccalaureate,2010,1,$nan
...,...,...,...,...,...,...,...
960,TX,UNIVERSITY OF TEXAS-AUSTIN,"LIBERAL ARTS AND SCIENCES, GENERAL STUDIES AND...",Baccalaureate,2001,10,"$113,257.00"
160,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2007,5,"$112,724.33"
253,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2001,5,"$112,237.67"
237,TX,UNIVERSITY OF TEXAS-AUSTIN,"BUSINESS/COMMERCE, GENERAL",Baccalaureate,2004,5,"$111,863.67"
176,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,5,"$110,933.67"
217,TX,UNIVERSITY OF TEXAS-AUSTIN,MANAGEMENT INFORMATION SYSTEMS AND SERVICES,Baccalaureate,2001,10,"$110,180.33"
177,TX,UNIVERSITY OF TEXAS-AUSTIN,PETROLEUM ENGINEERING,Baccalaureate,2004,1,"$108,529.00"
948,TX,UNIVERSITY OF TEXAS-ARLINGTON,MECHANICAL ENGINEERING,Baccalaureate,2004,10,"$107,442.33"
1030,TX,UNIVERSITY OF TEXAS-AUSTIN,"BIOLOGY, GENERAL",Baccalaureate,2001,10,"$107,357.67"
268,TX,UNIVERSITY OF TEXAS-AUSTIN,CIVIL ENGINEERING,Baccalaureate,2004,10,"$106,983.00"
968,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,10,"$106,663.00"
1497,TX,UNIVERSITY OF TEXAS-AUSTIN,GEOLOGICAL AND EARTH SCIENCES/GEOSCIENCES,Baccalaureate,2004,10,"$106,118.33"
1080,TX,UNIVERSITY OF TEXAS-AUSTIN,GEOLOGICAL AND EARTH SCIENCES/GEOSCIENCES,Baccalaureate,2007,5,"$105,476.00"
1207,TX,UNIVERSITY OF TEXAS-AUSTIN,"BIOCHEMISTRY, BIOPHYSICS AND MOLECULAR BIOLOGY",Baccalaureate,2001,10,"$105,415.00"
1013,TX,UNIVERSITY OF TEXAS-AUSTIN,ECONOMICS,Baccalaureate,2004,10,"$105,002.33"
235,TX,UNIVERSITY OF TEXAS-AUSTIN,"AEROSPACE, AERONAUTICAL AND ASTRONAUTICAL ENGI...",Baccalaureate,2004,10,"$104,686.33"
941,TX,UNIVERSITY OF TEXAS-AUSTIN,"AEROSPACE, AERONAUTICAL AND ASTRONAUTICAL ENGI...",Baccalaureate,2001,10,"$104,356.67"
990,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,1,"$104,250.33"
946,TX,UNIVERSITY OF TEXAS-EL PASO,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,10,"$104,091.00"
959,TX,UNIVERSITY OF TEXAS-AUSTIN,ARCHITECTURAL ENGINEERING,Baccalaureate,2004,10,"$103,925.00"
979,TX,UNIVERSITY OF TEXAS AT DALLAS,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,10,"$103,569.67"
987,TX,UNIVERSITY OF TEXAS AT DALLAS,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2004,10,"$102,792.67"
269,TX,UNIVERSITY OF TEXAS-AUSTIN,CHEMICAL ENGINEERING,Baccalaureate,2007,5,"$102,682.67"
254,TX,UNIV OF TEXAS SOUTHWESTERN MED CTR,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,5,"$102,266.67"
1053,TX,UNIVERSITY OF TEXAS-AUSTIN,ECONOMICS,Baccalaureate,2001,10,"$101,770.33"
965,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2007,1,"$101,663.33"
940,TX,UNIVERSITY OF TEXAS-ARLINGTON,"ELECTRICAL, ELECTRONICS AND COMMUNICATIONS ENG...",Baccalaureate,2001,10,"$101,645.33"
983,TX,UNIVERSITY OF TEXAS-EL PASO,MECHANICAL ENGINEERING,Baccalaureate,2004,10,"$101,611.33"
263,TX,UNIV OF TEXAS MEDICAL BRANCH,"ALLIED HEALTH DIAGNOSTIC, INTERVENTION, AND TR...",Baccalaureate,2001,10,"$101,505.67"
967,TX,UNIVERSITY OF TEXAS-ARLINGTON,COMPUTER ENGINEERING,Baccalaureate,2004,10,"$100,644.33"

In [47]:
tx_bachelor_df = tx_bachelor_df.sort_values(["Program", "Average Earnings"], ascending=True)
tx_bachelor_df.head()

,State,College/University,Program,Degree,Cohort,Years Post Grad,Average Earnings
93,TX,UNIVERSITY OF TEXAS-AUSTIN,ACCOUNTING AND RELATED SERVICES,Baccalaureate,2004,10,"$129,976.67"
77,TX,UNIVERSITY OF TEXAS-AUSTIN,ACCOUNTING AND RELATED SERVICES,Baccalaureate,2001,10,"$136,081.00"
8486,TX,UNIVERSITY OF TEXAS - BROWNSVILLE,ACCOUNTING AND RELATED SERVICES,Baccalaureate,2010,1,"$34,471.67"
8502,TX,UNIVERSITY OF TEXAS - BROWNSVILLE,ACCOUNTING AND RELATED SERVICES,Baccalaureate,2004,1,"$36,044.67"
8250,TX,UNIVERSITY OF TEXAS - PAN AMERICAN,ACCOUNTING AND RELATED SERVICES,Baccalaureate,2010,1,"$37,051.33"

In [48]:
#average earnings for percentile for cohorts (all subjects)

import csv
def makedic(filename):
	f = open(filename, "r")
	reader = csv.reader(f)
	newl = []
	for i in reader:
		line = i
		dic = {}
		dic['id'] = line[0]
		dic['school'] = line[1]
		dic['degree'] = line[3]
		dic['cohort'] = line[6]
		dic['p25'] = line[9]
		dic['p50'] = line[10]
		dic['p75'] = line[11]
		newl.append(dic)
	return newl

def aveCohort(l):
	dic = {}
	for i in l:
		if i['cohort'] in dic.keys():
			try:
				newl = dic[i['cohort']]
				newl[0] = newl[0] + int(i['p25'])
				newl[1] = newl[1] + int(i['p50'])
				newl[2] = newl[2] + int(i['p75'])
				newl[3] = newl[3] + 1
			except:
				pass
		else:
			try:
				newl = []
				newl.append(int(i['p25']))
				newl.append(int(i['p50']))
				newl.append(int(i['p75']))
				newl.append(1)
				dic[i['cohort']] = newl
			except:
				pass
	for i in dic.keys():
		print("cohort: " + i)
		print("the average salary at 25 is:" + str(float(dic[i][0])/dic[i][3]))
		print("the average salary at 50 is:" + str(float(dic[i][1])/dic[i][3]))
		print("the average salary at 75 is:" + str(float(dic[i][2])/dic[i][3]))
		print("\n\n")
	return dic
	

def main():
	filename = 'graduate_earnings_all.csv'
	data = makedic(filename)
	aveCohort(data)
	
main()

cohort: 1996
the average salary at 25 is:41885.98395721925
the average salary at 50 is:57129.71122994652
the average salary at 75 is:76580.4367201426



cohort: 2001
the average salary at 25 is:40580.36921494686
the average salary at 50 is:54823.0301679808
the average salary at 75 is:73048.87624271512



cohort: 2006
the average salary at 25 is:39247.3883029722
the average salary at 50 is:53216.663470757434
the average salary at 75 is:70989.57430488974



cohort: 2011
the average salary at 25 is:34119.80173913044
the average salary at 50 is:46387.56695652174
the average salary at 75 is:61970.51130434783



cohort: 2004
the average salary at 25 is:38221.85865257596
the average salary at 50 is:51141.637384412155
the average salary at 75 is:67117.81902245707



cohort: 1998
the average salary at 25 is:38404.89638157895
the average salary at 50 is:52381.13651315789
the average salary at 75 is:69474.74835526316



cohort: 2007
the average salary at 25 is:34009.92230347349
the average salary at 50 is:45298.22212065814
the average salary at 75 is:58406.531078610606



cohort: 2013
the average salary at 25 is:29687.65977443609
the average salary at 50 is:39636.20864661654
the average salary at 75 is:51539.75187969925



cohort: 2010
the average salary at 25 is:27961.80977312391
the average salary at 50 is:37358.931937172776
the average salary at 75 is:48697.64397905759

In [51]:
import csv
def makedic(filename):
	f = open(filename, "r")
	reader = csv.reader(f)
	newl = []
	for i in reader:
		line = i
		dic = {}
		dic['id'] = line[0]
		dic['school'] = line[1]
		dic['degree'] = line[3]
		dic['cohort'] = line[6]
		dic['p25'] = line[9]
		dic['p50'] = line[10]
		dic['p75'] = line[11]
		newl.append(dic)
	return newl

def aveCohort(l):
	dic = {}
	for i in l:
		if i['cohort'] in dic.keys():
			try:
				newl = dic[i['cohort']]
				newl[0] = newl[0] + int(i['p25'])
				newl[1] = newl[1] + int(i['p50'])
				newl[2] = newl[2] + int(i['p75'])
				newl[3] = newl[3] + 1
			except:
				pass
		else:
			try:
				newl = []
				newl.append(int(i['p25']))
				newl.append(int(i['p50']))
				newl.append(int(i['p75']))
				newl.append(1)
				dic[i['cohort']] = newl
			except:
				pass
	for i in dic.keys():
		print("cohort: " + i)
		print("the average salary at 25 is:" + str(float(dic[i][0])/dic[i][3]))
		print("the average salary at 50 is:" + str(float(dic[i][1])/dic[i][3]))
		print("the average salary at 75 is:" + str(float(dic[i][2])/dic[i][3]))
		print("\n\n")
	return dic

def aveDegree(l):
	dic = {}
	for i in l:
		if i['degree'] in dic.keys():
			try:
				newl = dic[i['degree']]
				newl[0] = newl[0] + int(i['p25'])
				newl[1] = newl[1] + int(i['p50'])
				newl[2] = newl[2] + int(i['p75'])
				newl[3] = newl[3] + 1
			except:
				pass
		else:
			try:
				newl = []
				newl.append(int(i['p25']))
				newl.append(int(i['p50']))
				newl.append(int(i['p75']))
				newl.append(1)
				dic[i['degree']] = newl
			except:
				pass
	for i in dic.keys():
		print("-----------------")
		print("degree: " + i)
		print("the average salary at 25 is:" + str(float(dic[i][0])/dic[i][3]))
		print("the average salary at 50 is:" + str(float(dic[i][1])/dic[i][3]))
		print("the average salary at 75 is:" + str(float(dic[i][2])/dic[i][3]))
		print("\n\n")
		print("\n~COHORT BREAKDOWN:\n")
		aveCohort(isoDegree(l, i))
		print("-----------------")

	return dic

def isoSchool(l, school):
	newl = []
	for i in l:
		if i['id'] == school:
			newl.append(i)
	return newl

def isoDegree(l, degree):
	newl = []
	for i in l:
		if i['degree'] == degree:
			newl.append(i)
	return newl


def getschools(l):
	dic = {}
	for i in l:
		if i['id'] in dic.keys():
			pass
		else:
			dic[i['id']] = i['school']
	return dic

def order(l):
	for i in getschools(l).keys():
		print("===============")
		print("data for: " + getschools(l)[i])
		print("\n~DEGREE BREAKDOWN!:\n")
		aveDegree(isoSchool(l, i))
		print("===============")
		
		
	

def main():
	filename = 'graduate_earnings_all.csv'
	data = makedic(filename)
	order(data)
	
	
main()

===============
data for: institution_name

~DEGREE BREAKDOWN!:

===============
===============
data for: ADAMS STATE COLLEGE

~DEGREE BREAKDOWN!:

-----------------
degree: Associates
the average salary at 25 is:23025.875
the average salary at 50 is:31965.375
the average salary at 75 is:46262.75




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:27549.0
the average salary at 50 is:38099.0
the average salary at 75 is:59226.5



cohort: 2001
the average salary at 25 is:25523.0
the average salary at 50 is:35323.333333333336
the average salary at 75 is:49420.666666666664



cohort: 2006
the average salary at 25 is:18808.5
the average salary at 50 is:26665.0
the average salary at 75 is:38385.5



cohort: 2011
the average salary at 25 is:14923.0
the average salary at 50 is:20225.0
the average salary at 75 is:26616.0



-----------------
-----------------
degree: Baccalaureate
the average salary at 25 is:27869.60606060606
the average salary at 50 is:37432.106060606064
the average salary at 75 is:48917.893939393936




~COHORT BREAKDOWN:

cohort: 1998
the average salary at 25 is:32230.333333333332
the average salary at 50 is:42919.5
the average salary at 75 is:57640.88888888889



cohort: 2004
the average salary at 25 is:26771.9375
the average salary at 50 is:36621.875
the average salary at 75 is:46332.375



cohort: 2001
the average salary at 25 is:27749.5625
the average salary at 50 is:37342.625
the average salary at 75 is:48796.125



cohort: 2007
the average salary at 25 is:25945.555555555555
the average salary at 50 is:34599.333333333336
the average salary at 75 is:45500.88888888889



cohort: 2013
the average salary at 25 is:23658.333333333332
the average salary at 50 is:30842.333333333332
the average salary at 75 is:40506.0



cohort: 2010
the average salary at 25 is:20604.75
the average salary at 50 is:27653.75
the average salary at 75 is:34490.75



-----------------
-----------------
degree: Masters
the average salary at 25 is:38747.666666666664
the average salary at 50 is:47958.27777777778
the average salary at 75 is:58464.833333333336




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:42560.8
the average salary at 50 is:52154.2
the average salary at 75 is:64026.0



cohort: 2001
the average salary at 25 is:39291.5
the average salary at 50 is:48412.166666666664
the average salary at 75 is:58901.333333333336



cohort: 2006
the average salary at 25 is:35803.0
the average salary at 50 is:44720.5
the average salary at 75 is:53461.0



cohort: 2011
the average salary at 25 is:35231.0
the average salary at 50 is:44374.333333333336
the average salary at 75 is:54995.0



-----------------
===============
===============
data for: UNIVERSITY OF TEXAS-AUSTIN

~DEGREE BREAKDOWN!:

-----------------
degree: Baccalaureate
the average salary at 25 is:43366.287769784176
the average salary at 50 is:58775.203237410075
the average salary at 75 is:79796.23741007195




~COHORT BREAKDOWN:

cohort: 2004
the average salary at 25 is:47148.70121951219
the average salary at 50 is:64491.78048780488
the average salary at 75 is:88933.07926829268



cohort: 2001
the average salary at 25 is:46148.1686746988
the average salary at 50 is:62820.819277108436
the average salary at 75 is:86870.95180722892



cohort: 2007
the average salary at 25 is:41603.27433628318
the average salary at 50 is:55999.929203539825
the average salary at 75 is:74199.06194690266



cohort: 2013
the average salary at 25 is:36978.0
the average salary at 50 is:48973.82142857143
the average salary at 75 is:63433.44642857143



cohort: 2010
the average salary at 25 is:34153.245614035084
the average salary at 50 is:45676.82456140351
the average salary at 75 is:60076.10526315789



-----------------
-----------------
degree: Doctoral - Research/Scholarship
the average salary at 25 is:64700.9693877551
the average salary at 50 is:83695.6836734694
the average salary at 75 is:108680.19387755102




~COHORT BREAKDOWN:

cohort: 2011
the average salary at 25 is:59352.1875
the average salary at 50 is:77394.375
the average salary at 75 is:102132.8125



cohort: 2006
the average salary at 25 is:62576.06060606061
the average salary at 50 is:81168.63636363637
the average salary at 75 is:106189.30303030302



cohort: 2001
the average salary at 25 is:67878.57142857143
the average salary at 50 is:87455.14285714286
the average salary at 75 is:112495.6530612245



-----------------
-----------------
degree: Masters
the average salary at 25 is:46299.68292682927
the average salary at 50 is:64063.260162601626
the average salary at 75 is:89085.8861788618




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:50054.28333333333
the average salary at 50 is:68844.66666666667
the average salary at 75 is:95225.01666666666



cohort: 2006
the average salary at 25 is:43896.69047619047
the average salary at 50 is:61142.142857142855
the average salary at 75 is:84499.78571428571



cohort: 2011
the average salary at 25 is:40378.23809523809
the average salary at 50 is:56244.333333333336
the average salary at 75 is:80717.71428571429



-----------------
-----------------
degree: Doctoral - Professional Practice
the average salary at 25 is:86654.76923076923
the average salary at 50 is:125817.15384615384
the average salary at 75 is:169622.92307692306




~COHORT BREAKDOWN:

cohort: 2006
the average salary at 25 is:91644.5
the average salary at 50 is:138789.0
the average salary at 75 is:182263.5



cohort: 2001
the average salary at 25 is:90633.83333333333
the average salary at 50 is:129289.33333333333
the average salary at 75 is:178288.66666666666



cohort: 2011
the average salary at 25 is:72043.66666666667
the average salary at 50 is:101577.0
the average salary at 75 is:135437.33333333334



-----------------
===============
===============
data for: UNIV OF TEXAS SOUTHWESTERN MED CTR

~DEGREE BREAKDOWN!:

-----------------
degree: Doctoral - Professional Practice
the average salary at 25 is:78484.42857142857
the average salary at 50 is:114483.71428571429
the average salary at 75 is:165539.57142857142




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:101640.33333333333
the average salary at 50 is:158813.66666666666
the average salary at 75 is:244944.0



cohort: 2006
the average salary at 25 is:67044.5
the average salary at 50 is:100464.0
the average salary at 75 is:142527.0



cohort: 2011
the average salary at 25 is:55190.5
the average salary at 50 is:62008.5
the average salary at 75 is:69445.5



-----------------
-----------------
degree: Doctoral - Research/Scholarship
the average salary at 25 is:50216.625
the average salary at 50 is:67899.0
the average salary at 75 is:94647.625




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:57688.0
the average salary at 50 is:79434.25
the average salary at 75 is:112384.0



cohort: 2006
the average salary at 25 is:42609.666666666664
the average salary at 50 is:58330.666666666664
the average salary at 75 is:82575.33333333333



cohort: 2011
the average salary at 25 is:43152.0
the average salary at 50 is:50463.0
the average salary at 75 is:59919.0



-----------------
-----------------
degree: Baccalaureate
the average salary at 25 is:47850.72727272727
the average salary at 50 is:62329.36363636364
the average salary at 75 is:79431.72727272728




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:57221.333333333336
the average salary at 50 is:75599.44444444444
the average salary at 75 is:99541.44444444444



cohort: 2007
the average salary at 25 is:42828.2
the average salary at 50 is:54107.6
the average salary at 75 is:64816.8



cohort: 2004
the average salary at 25 is:40393.166666666664
the average salary at 50 is:53126.333333333336
the average salary at 75 is:67445.33333333333



cohort: 2010
the average salary at 25 is:40612.0
the average salary at 50 is:50777.5
the average salary at 75 is:61434.5



-----------------
-----------------
degree: Masters
the average salary at 25 is:56281.333333333336
the average salary at 50 is:79286.66666666667
the average salary at 75 is:105077.5




~COHORT BREAKDOWN:

cohort: 2006
the average salary at 25 is:62169.0
the average salary at 50 is:85521.0
the average salary at 75 is:115480.5



cohort: 2011
the average salary at 25 is:45500.0
the average salary at 50 is:80964.0
the average salary at 75 is:115339.0



cohort: 2001
the average salary at 25 is:55950.0
the average salary at 50 is:74571.33333333333
the average salary at 75 is:94721.66666666667



-----------------
===============
===============
data for: UT HEALTH CENTER-SAN ANTONIO

~DEGREE BREAKDOWN!:

-----------------
degree: Doctoral - Professional Practice
the average salary at 25 is:74750.26666666666
the average salary at 50 is:114278.2
the average salary at 75 is:165427.33333333334




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:88878.5
the average salary at 50 is:144037.33333333334
the average salary at 75 is:220606.66666666666



cohort: 2006
the average salary at 25 is:66439.16666666667
the average salary at 50 is:101316.83333333333
the average salary at 75 is:142969.16666666666



cohort: 2011
the average salary at 25 is:63116.0
the average salary at 50 is:80682.66666666667
the average salary at 75 is:99985.0



-----------------
-----------------
degree: Doctoral - Research/Scholarship
the average salary at 25 is:52047.75
the average salary at 50 is:78940.375
the average salary at 75 is:112368.625




~COHORT BREAKDOWN:

cohort: 2006
the average salary at 25 is:55457.0
the average salary at 50 is:93056.25
the average salary at 75 is:126488.0



cohort: 2001
the average salary at 25 is:52918.333333333336
the average salary at 50 is:72311.66666666667
the average salary at 75 is:112570.33333333333



cohort: 2011
the average salary at 25 is:35799.0
the average salary at 50 is:42363.0
the average salary at 75 is:55286.0



-----------------
-----------------
degree: Baccalaureate
the average salary at 25 is:50936.931818181816
the average salary at 50 is:65154.34090909091
the average salary at 75 is:80144.68181818182




~COHORT BREAKDOWN:

cohort: 2004
the average salary at 25 is:53314.0
the average salary at 50 is:68696.6
the average salary at 75 is:84961.1



cohort: 2001
the average salary at 25 is:50957.2
the average salary at 50 is:65629.26666666666
the average salary at 75 is:82017.33333333333



cohort: 2007
the average salary at 25 is:48743.4
the average salary at 50 is:63326.5
the average salary at 75 is:77475.5



cohort: 2013
the average salary at 25 is:52614.25
the average salary at 50 is:65461.5
the average salary at 75 is:78468.75



cohort: 2010
the average salary at 25 is:49167.2
the average salary at 50 is:60055.0
the average salary at 75 is:71573.0



-----------------
-----------------
degree: Masters
the average salary at 25 is:57896.22222222222
the average salary at 50 is:76278.0
the average salary at 75 is:95960.44444444444




~COHORT BREAKDOWN:

cohort: 2006
the average salary at 25 is:57291.666666666664
the average salary at 50 is:75501.0
the average salary at 75 is:94198.66666666667



cohort: 2001
the average salary at 25 is:57315.0
the average salary at 50 is:75492.6
the average salary at 75 is:95951.6



cohort: 2011
the average salary at 25 is:62616.0
the average salary at 50 is:82536.0
the average salary at 75 is:101290.0



-----------------
===============
===============
data for: UNIV OF TEXAS HEALTH SCIENCE CENTER

~DEGREE BREAKDOWN!:

-----------------
degree: Doctoral - Professional Practice
the average salary at 25 is:76919.5
the average salary at 50 is:117730.5
the average salary at 75 is:175417.16666666666




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:88536.33333333333
the average salary at 50 is:136062.83333333334
the average salary at 75 is:210049.16666666666



cohort: 2006
the average salary at 25 is:70800.25
the average salary at 50 is:110209.25
the average salary at 75 is:161121.5



cohort: 2011
the average salary at 25 is:54307.5
the average salary at 50 is:77776.0
the average salary at 75 is:100112.5



-----------------
-----------------
degree: Masters
the average salary at 25 is:53990.416666666664
the average salary at 50 is:79559.08333333333
the average salary at 75 is:119462.91666666667




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:58943.666666666664
the average salary at 50 is:85936.83333333333
the average salary at 75 is:128035.16666666667



cohort: 2006
the average salary at 25 is:51393.0
the average salary at 50 is:77794.75
the average salary at 75 is:121168.5



cohort: 2011
the average salary at 25 is:44325.5
the average salary at 50 is:63954.5
the average salary at 75 is:90335.0



-----------------
-----------------
degree: Doctoral - Research/Scholarship
the average salary at 25 is:61591.083333333336
the average salary at 50 is:81395.33333333333
the average salary at 75 is:115556.5




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:64368.5
the average salary at 50 is:85945.5
the average salary at 75 is:121292.0



cohort: 2006
the average salary at 25 is:60110.75
the average salary at 50 is:78835.75
the average salary at 75 is:114938.5



cohort: 2011
the average salary at 25 is:56219.5
the average salary at 50 is:72864.0
the average salary at 75 is:99586.0



-----------------
-----------------
degree: Baccalaureate
the average salary at 25 is:55218.857142857145
the average salary at 50 is:71177.85714285714
the average salary at 75 is:87358.71428571429




~COHORT BREAKDOWN:

cohort: 2004
the average salary at 25 is:59871.0
the average salary at 50 is:79669.66666666667
the average salary at 75 is:98730.33333333333



cohort: 2001
the average salary at 25 is:60716.0
the average salary at 50 is:78583.33333333333
the average salary at 75 is:101044.33333333333



cohort: 2007
the average salary at 25 is:52840.75
the average salary at 50 is:66799.75
the average salary at 75 is:79636.5



cohort: 2013
the average salary at 25 is:53272.5
the average salary at 50 is:66438.0
the average salary at 75 is:78593.0



cohort: 2010
the average salary at 25 is:46697.5
the average salary at 50 is:60828.0
the average salary at 75 is:73983.0



-----------------
===============
===============
data for: UNIV OF TEXAS MEDICAL BRANCH

~DEGREE BREAKDOWN!:

-----------------
degree: Doctoral - Professional Practice
the average salary at 25 is:76947.14285714286
the average salary at 50 is:115258.85714285714
the average salary at 75 is:166423.85714285713




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:96962.33333333333
the average salary at 50 is:152279.66666666666
the average salary at 75 is:236444.0



cohort: 2006
the average salary at 25 is:70058.0
the average salary at 50 is:110753.5
the average salary at 75 is:153015.5



cohort: 2011
the average salary at 25 is:53813.5
the average salary at 50 is:64233.0
the average salary at 75 is:74802.0



-----------------
-----------------
degree: Doctoral - Research/Scholarship
the average salary at 25 is:52439.09090909091
the average salary at 50 is:74913.27272727272
the average salary at 75 is:103559.81818181818




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:57022.0
the average salary at 50 is:82819.8
the average salary at 75 is:114645.4



cohort: 2006
the average salary at 25 is:52476.0
the average salary at 50 is:73750.0
the average salary at 75 is:101701.75



cohort: 2011
the average salary at 25 is:40908.0
the average salary at 50 is:57473.5
the average salary at 75 is:79562.0



-----------------
-----------------
degree: Baccalaureate
the average salary at 25 is:55134.46875
the average salary at 50 is:68847.03125
the average salary at 75 is:84284.40625




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:58252.666666666664
the average salary at 50 is:74777.16666666667
the average salary at 75 is:91526.08333333333



cohort: 2004
the average salary at 25 is:56569.75
the average salary at 50 is:70524.625
the average salary at 75 is:87136.5



cohort: 2007
the average salary at 25 is:53442.333333333336
the average salary at 50 is:65153.0
the average salary at 75 is:78083.83333333333



cohort: 2013
the average salary at 25 is:49550.666666666664
the average salary at 50 is:60936.0
the average salary at 75 is:74154.0



cohort: 2010
the average salary at 25 is:47802.333333333336
the average salary at 50 is:55952.0
the average salary at 75 is:70243.66666666667



-----------------
-----------------
degree: Masters
the average salary at 25 is:67550.83333333333
the average salary at 50 is:87179.83333333333
the average salary at 75 is:109429.33333333333




~COHORT BREAKDOWN:

cohort: 2006
the average salary at 25 is:71323.0
the average salary at 50 is:90074.0
the average salary at 75 is:111792.0



cohort: 2001
the average salary at 25 is:65127.666666666664
the average salary at 50 is:85557.66666666667
the average salary at 75 is:108878.66666666667



cohort: 2011
the average salary at 25 is:67276.0
the average salary at 50 is:86258.0
the average salary at 75 is:106356.0



-----------------
===============
===============
data for: COLORADO SCHOOL OF MINES

~DEGREE BREAKDOWN!:

-----------------
degree: Baccalaureate
the average salary at 25 is:61252.27777777778
the average salary at 50 is:82314.93518518518
the average salary at 75 is:108672.29629629629




~COHORT BREAKDOWN:

cohort: 2004
the average salary at 25 is:66756.08
the average salary at 50 is:90080.48
the average salary at 75 is:121031.88



cohort: 2001
the average salary at 25 is:62570.04347826087
the average salary at 50 is:86399.17391304347
the average salary at 75 is:119205.30434782608



cohort: 1998
the average salary at 25 is:68436.09090909091
the average salary at 50 is:90046.5
the average salary at 75 is:118705.0



cohort: 2007
the average salary at 25 is:57756.88888888889
the average salary at 50 is:76720.72222222222
the average salary at 75 is:96962.16666666667



cohort: 2010
the average salary at 25 is:48531.6
the average salary at 50 is:64723.5
the average salary at 75 is:79681.5



cohort: 2013
the average salary at 25 is:47669.9
the average salary at 50 is:64158.9
the average salary at 75 is:81544.5



-----------------
-----------------
degree: Masters
the average salary at 25 is:64269.16129032258
the average salary at 50 is:88814.70967741935
the average salary at 75 is:124752.90322580645




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:64415.8
the average salary at 50 is:96336.6
the average salary at 75 is:135223.7



cohort: 1996
the average salary at 25 is:75573.16666666667
the average salary at 50 is:105081.5
the average salary at 75 is:144798.0



cohort: 2006
the average salary at 25 is:63065.3
the average salary at 50 is:80772.5
the average salary at 75 is:115902.2



cohort: 2011
the average salary at 25 is:52818.8
the average salary at 50 is:70335.2
the average salary at 75 is:97458.6



-----------------
-----------------
degree: Doctoral - Research/Scholarship
the average salary at 25 is:72564.21428571429
the average salary at 50 is:99657.21428571429
the average salary at 75 is:145733.14285714287




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:79853.5
the average salary at 50 is:107652.0
the average salary at 75 is:150059.0



cohort: 1996
the average salary at 25 is:86260.5
the average salary at 50 is:114740.75
the average salary at 75 is:168809.75



cohort: 2006
the average salary at 25 is:60798.75
the average salary at 50 is:89158.0
the average salary at 75 is:135714.75



cohort: 2011
the average salary at 25 is:54124.0
the average salary at 50 is:74499.0
the average salary at 75 is:110965.0



-----------------
===============
===============
data for: UNIVERSITY OF COLORADO DENVER

~DEGREE BREAKDOWN!:

-----------------
degree: Doctoral - Professional Practice
the average salary at 25 is:75323.11111111111
the average salary at 50 is:100453.44444444444
the average salary at 75 is:134088.55555555556




~COHORT BREAKDOWN:

cohort: 2001

the average salary at 75 is:65038.58947368421



cohort: 2001
the average salary at 25 is:43702.03409090909
the average salary at 50 is:53744.22727272727
the average salary at 75 is:66378.94318181818



cohort: 2007
the average salary at 25 is:37535.82608695652
the average salary at 50 is:47317.02898550725
the average salary at 75 is:58521.637681159424



cohort: 2010
the average salary at 25 is:28577.46875
the average salary at 50 is:38022.96875
the average salary at 75 is:48646.5625



cohort: 2013
the average salary at 25 is:27611.37037037037
the average salary at 50 is:38050.74074074074
the average salary at 75 is:49701.96296296296



-----------------
-----------------
degree: Doctoral - Research/Scholarship
the average salary at 25 is:79983.0
the average salary at 50 is:97568.33333333333
the average salary at 75 is:120265.66666666667




~COHORT BREAKDOWN:

cohort: 2006
the average salary at 25 is:79197.5
the average salary at 50 is:99148.5
the average salary at 75 is:126472.0



cohort: 2011
the average salary at 25 is:81554.0
the average salary at 50 is:94408.0
the average salary at 75 is:107853.0



-----------------
-----------------
degree: Masters
the average salary at 25 is:45981.921875
the average salary at 50 is:59434.546875
the average salary at 75 is:74772.328125




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:52196.142857142855
the average salary at 50 is:66975.76190476191
the average salary at 75 is:85661.76190476191



cohort: 2006
the average salary at 25 is:44514.555555555555
the average salary at 50 is:57321.88888888889
the average salary at 75 is:71250.66666666667



cohort: 2011
the average salary at 25 is:40301.9375
the average salary at 50 is:53101.8125
the average salary at 75 is:66422.75



-----------------
===============
===============
data for: UNIVERSITY OF TEXAS-PERMIAN BASIN

~DEGREE BREAKDOWN!:

-----------------
degree: Masters
the average salary at 25 is:50664.25
the average salary at 50 is:69181.5
the average salary at 75 is:97280.0




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:56023.666666666664
the average salary at 50 is:74649.83333333333
the average salary at 75 is:98533.0



cohort: 2006
the average salary at 25 is:47323.42857142857
the average salary at 50 is:62930.28571428572
the average salary at 75 is:88257.71428571429



cohort: 2011
the average salary at 25 is:47740.666666666664
the average salary at 50 is:72831.0
the average salary at 75 is:115826.0



-----------------
-----------------
degree: Baccalaureate
the average salary at 25 is:36055.70802919708
the average salary at 50 is:46190.45255474452
the average salary at 75 is:59077.97810218978




~COHORT BREAKDOWN:

cohort: 2004
the average salary at 25 is:37337.142857142855
the average salary at 50 is:47794.28571428572
the average salary at 75 is:60368.59523809524



cohort: 2013
the average salary at 25 is:34638.0
the average salary at 50 is:46179.545454545456
the average salary at 75 is:58224.818181818184



cohort: 2001
the average salary at 25 is:37619.46153846154
the average salary at 50 is:47247.05128205128
the average salary at 75 is:61832.53846153846



cohort: 2007
the average salary at 25 is:35656.58064516129
the average salary at 50 is:45628.87096774193
the average salary at 75 is:58330.096774193546



cohort: 2010
the average salary at 25 is:29852.928571428572
the average salary at 50 is:39687.642857142855
the average salary at 75 is:49859.07142857143



-----------------
===============
===============
data for: UNIVERSITY OF TEXAS AT TYLER

~DEGREE BREAKDOWN!:

-----------------
degree: Masters
the average salary at 25 is:49108.67567567567
the average salary at 50 is:64551.32432432433
the average salary at 75 is:84543.43243243243




~COHORT BREAKDOWN:

cohort: 2006
the average salary at 25 is:48395.0
the average salary at 50 is:64686.36363636364
the average salary at 75 is:86824.36363636363



cohort: 2001
the average salary at 25 is:50503.0
the average salary at 50 is:66203.6875
the average salary at 75 is:86463.25



cohort: 2011
the average salary at 25 is:47662.8
the average salary at 50 is:61759.0
the average salary at 75 is:78962.7



-----------------
-----------------
degree: Baccalaureate
the average salary at 25 is:36624.90683229814
the average salary at 50 is:47978.068322981366
the average salary at 75 is:62885.776397515525




~COHORT BREAKDOWN:

cohort: 2007
the average salary at 25 is:35577.305555555555
the average salary at 50 is:46610.916666666664
the average salary at 75 is:59560.194444444445



cohort: 2001
the average salary at 25 is:39639.230769230766
the average salary at 50 is:52576.1282051282
the average salary at 75 is:69996.23076923077



cohort: 2004
the average salary at 25 is:37552.48
the average salary at 50 is:49049.54
the average salary at 75 is:65787.4



cohort: 2010
the average salary at 25 is:31480.5
the average salary at 50 is:41084.3
the average salary at 75 is:51963.4



cohort: 2013
the average salary at 25 is:35166.4375
the average salary at 50 is:45115.25
the average salary at 75 is:57622.0



-----------------
===============
===============
data for: UNIVERSITY OF TEXAS-EL PASO

~DEGREE BREAKDOWN!:

-----------------
degree: Masters
the average salary at 25 is:45104.893939393936
the average salary at 50 is:61678.469696969696
the average salary at 75 is:83833.80303030302




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:48415.46666666667
the average salary at 50 is:65619.13333333333
the average salary at 75 is:89631.23333333334



cohort: 2006
the average salary at 25 is:46076.0
the average salary at 50 is:61521.545454545456
the average salary at 75 is:82499.04545454546



cohort: 2011
the average salary at 25 is:36484.78571428572
the average salary at 50 is:53480.78571428572
the average salary at 75 is:73508.21428571429



-----------------
-----------------
degree: Baccalaureate
the average salary at 25 is:37092.18032786885
the average salary at 50 is:49417.688524590165
the average salary at 75 is:62990.89180327869




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:41713.11235955056
the average salary at 50 is:54999.191011235955
the average salary at 75 is:69247.44943820225



cohort: 2004
the average salary at 25 is:41927.5
the average salary at 50 is:54756.688888888886
the average salary at 75 is:68446.45555555556



cohort: 2007
the average salary at 25 is:33384.52173913043
the average salary at 50 is:45938.30434782609
the average salary at 75 is:59160.02898550725



cohort: 2013
the average salary at 25 is:27062.185185185186
the average salary at 50 is:36950.07407407407
the average salary at 75 is:50532.40740740741



cohort: 2010
the average salary at 25 is:26432.066666666666
the average salary at 50 is:36065.666666666664
the average salary at 75 is:48086.7



-----------------
-----------------
degree: Doctoral - Research/Scholarship
the average salary at 25 is:56457.5
the average salary at 50 is:77927.2
the average salary at 75 is:101595.2




~COHORT BREAKDOWN:

cohort: 2006
the average salary at 25 is:56928.333333333336
the average salary at 50 is:76796.33333333333
the average salary at 75 is:103919.33333333333



cohort: 2001
the average salary at 25 is:57364.166666666664
the average salary at 50 is:79163.16666666667
the average salary at 75 is:100743.16666666667



cohort: 2011
the average salary at 25 is:49605.0
the average salary at 50 is:73904.0
the average salary at 75 is:99735.0



-----------------
-----------------
degree: Doctoral - Professional Practice
the average salary at 25 is:60585.0
the average salary at 50 is:74265.0
the average salary at 75 is:97404.0




~COHORT BREAKDOWN:

cohort: 2011
the average salary at 25 is:60585.0
the average salary at 50 is:74265.0
the average salary at 75 is:97404.0



-----------------
===============
===============
data for: ARAPAHOE COMMUNITY COLLEGE

~DEGREE BREAKDOWN!:

-----------------
degree: Certificate, <1 year
the average salary at 25 is:34198.47619047619
the average salary at 50 is:46577.88888888889
the average salary at 75 is:62746.666666666664




~COHORT BREAKDOWN:

cohort: 2011
the average salary at 25 is:27020.615384615383
the average salary at 50 is:39088.307692307695
the average salary at 75 is:52539.0



cohort: 2006
the average salary at 25 is:30212.176470588234
the average salary at 50 is:42008.94117647059
the average salary at 75 is:59339.529411764706



cohort: 2001
the average salary at 25 is:37891.25
the average salary at 50 is:50090.458333333336
the average salary at 75 is:66091.70833333333



cohort: 1996
the average salary at 25 is:42248.77777777778
the average salary at 50 is:56659.555555555555
the average salary at 75 is:75006.66666666667



-----------------
-----------------
degree: Certificate,1-2 years
the average salary at 25 is:35253.857142857145
the average salary at 50 is:47530.142857142855
the average salary at 75 is:62394.892857142855




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:41720.166666666664
the average salary at 50 is:58018.666666666664
the average salary at 75 is:77835.83333333333



cohort: 2001
the average salary at 25 is:33518.833333333336
the average salary at 50 is:45774.583333333336
the average salary at 75 is:59505.916666666664



cohort: 2006
the average salary at 25 is:34515.0
the average salary at 50 is:44501.833333333336
the average salary at 75 is:59331.333333333336



cohort: 2011
the average salary at 25 is:31867.75
the average salary at 50 is:41606.5
the average salary at 75 is:52495.75



-----------------
-----------------
degree: Associates
the average salary at 25 is:32951.864583333336
the average salary at 50 is:44589.760416666664
the average salary at 75 is:59412.291666666664




~COHORT BREAKDOWN:

cohort: 2011
the average salary at 25 is:28764.615384615383
the average salary at 50 is:38382.692307692305
the average salary at 75 is:51750.769230769234



cohort: 1996
the average salary at 25 is:35287.42307692308
the average salary at 50 is:49012.42307692308
the average salary at 75 is:67833.07692307692



cohort: 2001
the average salary at 25 is:34771.82352941176
the average salary at 50 is:46564.82352941176
the average salary at 75 is:60291.617647058825



cohort: 2006
the average salary at 25 is:29988.0
the average salary at 50 is:40178.913043478264
the average salary at 75 is:52923.69565217391



-----------------
===============
===============
data for: METROPOLITAN STATE UNIVERSITY OF DENVER

~DEGREE BREAKDOWN!:

-----------------
degree: Baccalaureate
the average salary at 25 is:32245.078703703704
the average salary at 50 is:44141.65740740741
the average salary at 75 is:58146.88657407407




~COHORT BREAKDOWN:

cohort: 2004
the average salary at 25 is:33440.166666666664
the average salary at 50 is:45919.09375
the average salary at 75 is:61217.947916666664



cohort: 1998
the average salary at 25 is:38116.13953488372
the average salary at 50 is:52205.813953488374
the average salary at 75 is:68133.58139534884



cohort: 2001
the average salary at 25 is:33880.41052631579
the average salary at 50 is:46614.073684210525
the average salary at 75 is:61981.45263157895



cohort: 2007
the average salary at 25 is:29325.413333333334
the average salary at 50 is:40329.10666666667
the average salary at 75 is:52096.82666666667



cohort: 2010
the average salary at 25 is:25272.641025641027
the average salary at 50 is:33684.89743589744
the average salary at 75 is:44503.769230769234



cohort: 2013
the average salary at 25 is:25315.90243902439
the average salary at 50 is:34256.87804878049
the average salary at 75 is:45168.21951219512



-----------------
-----------------
degree: Masters
the average salary at 25 is:34062.0
the average salary at 50 is:41175.666666666664
the average salary at 75 is:53227.666666666664




~COHORT BREAKDOWN:

cohort: 2011
the average salary at 25 is:34062.0
the average salary at 50 is:41175.666666666664
the average salary at 75 is:53227.666666666664



-----------------
===============
===============
data for: UNIVERSITY OF TEXAS - BROWNSVILLE

~DEGREE BREAKDOWN!:

-----------------
degree: Baccalaureate
the average salary at 25 is:35127.05357142857
the average salary at 50 is:44029.791666666664
the average salary at 75 is:53729.380952380954




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:39673.260869565216
the average salary at 50 is:47472.52173913043
the average salary at 75 is:57042.565217391304



cohort: 2004
the average salary at 25 is:37235.6
the average salary at 50 is:45209.48
the average salary at 75 is:55241.66



cohort: 2007
the average salary at 25 is:33287.5641025641
the average salary at 50 is:43538.666666666664
the average salary at 75 is:52368.153846153844



cohort: 2013
the average salary at 25 is:28561.714285714286
the average salary at 50 is:39167.5
the average salary at 75 is:50653.0



cohort: 2010
the average salary at 25 is:27185.052631578947
the average salary at 50 is:37181.15789473684
the average salary at 75 is:46789.21052631579



-----------------
-----------------
degree: Masters
the average salary at 25 is:48194.555555555555
the average salary at 50 is:58261.38888888889
the average salary at 75 is:72921.11111111111




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:50761.444444444445
the average salary at 50 is:62318.333333333336
the average salary at 75 is:78526.88888888889



cohort: 2006
the average salary at 25 is:47165.666666666664
the average salary at 50 is:55831.333333333336
the average salary at 75 is:69814.33333333333



cohort: 2011
the average salary at 25 is:42551.666666666664
the average salary at 50 is:50950.666666666664
the average salary at 75 is:62317.333333333336



-----------------
===============
===============
data for: COLORADO STATE UNIVERSITY-PUEBLO

~DEGREE BREAKDOWN!:

-----------------
degree: Masters
the average salary at 25 is:44659.61538461538
the average salary at 50 is:60517.846153846156
the average salary at 75 is:79719.61538461539




~COHORT BREAKDOWN:

cohort: 2006
the average salary at 25 is:52793.75
the average salary at 50 is:70880.5
the average salary at 75 is:92486.25



cohort: 1996
the average salary at 25 is:49121.5
the average salary at 50 is:67263.5
the average salary at 75 is:88319.5



cohort: 2001
the average salary at 25 is:39449.0
the average salary at 50 is:58408.0
the average salary at 75 is:83541.66666666667



cohort: 2011
the average salary at 25 is:38202.5
the average salary at 50 is:48364.75
the average salary at 75 is:59786.5



-----------------
-----------------
degree: Baccalaureate
the average salary at 25 is:30200.168478260868
the average salary at 50 is:40565.11956521739
the average salary at 75 is:52743.864130434784




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:32022.1
the average salary at 50 is:43098.1
the average salary at 75 is:56422.8



cohort: 1998
the average salary at 25 is:36659.75
the average salary at 50 is:50070.0625
the average salary at 75 is:64075.0625



cohort: 2007
the average salary at 25 is:26503.8
the average salary at 50 is:35934.4
the average salary at 75 is:47521.2



cohort: 2004
the average salary at 25 is:29938.522727272728
the average salary at 50 is:39797.97727272727
the average salary at 75 is:51111.818181818184



cohort: 2013
the average salary at 25 is:24619.076923076922
the average salary at 50 is:31945.53846153846
the average salary at 75 is:41181.38461538462



cohort: 2010
the average salary at 25 is:23343.8
the average salary at 50 is:30826.666666666668
the average salary at 75 is:41561.0



-----------------
===============
===============
data for: COLORADO MESA UNIVERSITY

~DEGREE BREAKDOWN!:

-----------------
degree: Baccalaureate
the average salary at 25 is:29781.78
the average salary at 50 is:40475.68
the average salary at 75 is:53308.0




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:29723.384615384617
the average salary at 50 is:41384.94871794872
the average salary at 75 is:55960.38461538462



cohort: 1998
the average salary at 25 is:37551.57142857143
the average salary at 50 is:49847.392857142855
the average salary at 75 is:65061.71428571428



cohort: 2004
the average salary at 25 is:29508.243243243243
the average salary at 50 is:40386.37837837838
the average salary at 75 is:51813.16216216216



cohort: 2007
the average salary at 25 is:27273.7
the average salary at 50 is:36661.65
the average salary at 75 is:47019.75



cohort: 2013
the average salary at 25 is:24684.23076923077
the average salary at 50 is:33972.153846153844
the average salary at 75 is:46178.153846153844



cohort: 2010
the average salary at 25 is:22956.69230769231
the average salary at 50 is:30188.076923076922
the average salary at 75 is:41093.769230769234



-----------------
-----------------
degree: Masters
the average salary at 25 is:40373.875
the average salary at 50 is:53448.0
the average salary at 75 is:74499.75




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:44410.0
the average salary at 50 is:63950.0
the average salary at 75 is:91892.33333333333



cohort: 2006
the average salary at 25 is:40381.25
the average salary at 50 is:49361.25
the average salary at 75 is:67762.75



cohort: 2011
the average salary at 25 is:28236.0
the average salary at 50 is:38289.0
the average salary at 75 is:49270.0



-----------------
-----------------
degree: Certificate, <1 year
the average salary at 25 is:20347.5
the average salary at 50 is:29664.333333333332
the average salary at 75 is:44123.166666666664




~COHORT BREAKDOWN:

cohort: 2006
the average salary at 25 is:22196.25
the average salary at 50 is:33391.25
the average salary at 75 is:50188.0



cohort: 2011
the average salary at 25 is:16650.0
the average salary at 50 is:22210.5
the average salary at 75 is:31993.5



-----------------
-----------------
degree: Certificate,1-2 years
the average salary at 25 is:34411.15
the average salary at 50 is:49460.05
the average salary at 75 is:66299.25




~COHORT BREAKDOWN:

cohort: 2006
the average salary at 25 is:31645.625
the average salary at 50 is:45321.625
the average salary at 75 is:61082.625



cohort: 2011
the average salary at 25 is:25786.25
the average salary at 50 is:36630.25
the average salary at 75 is:55821.0



cohort: 1996
the average salary at 25 is:46724.0
the average salary at 50 is:70928.0
the average salary at 75 is:91917.5



cohort: 2001
the average salary at 25 is:39744.166666666664
the average salary at 50 is:56375.166666666664
the average salary at 75 is:71700.83333333333



-----------------
-----------------
degree: Associates
the average salary at 25 is:29785.432432432433
the average salary at 50 is:40519.59459459459
the average salary at 75 is:53636.59459459459




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:29625.076923076922
the average salary at 50 is:41340.0
the average salary at 75 is:55860.769230769234



cohort: 2006
the average salary at 25 is:34387.583333333336
the average salary at 50 is:44823.916666666664
the average salary at 75 is:56972.583333333336



cohort: 2011
the average salary at 25 is:24089.6
the average salary at 50 is:31823.8
the average salary at 75 is:42071.2



cohort: 1996
the average salary at 25 is:26262.285714285714
the average salary at 50 is:37828.42857142857
the average salary at 75 is:52048.142857142855



-----------------
===============
===============
data for: FORT LEWIS COLLEGE

~DEGREE BREAKDOWN!:

-----------------
degree: Baccalaureate
the average salary at 25 is:26796.125
the average salary at 50 is:37490.075
the average salary at 75 is:49626.13125




~COHORT BREAKDOWN:

cohort: 1998
the average salary at 25 is:32408.939393939392
the average salary at 50 is:45617.454545454544
the average salary at 75 is:59511.15151515151



cohort: 2004
the average salary at 25 is:27702.42105263158
the average salary at 50 is:38760.02631578947
the average salary at 75 is:52015.10526315789



cohort: 2001
the average salary at 25 is:27325.571428571428

cohort: 2013
the average salary at 25 is:19461.81818181818
the average salary at 50 is:26848.18181818182
the average salary at 75 is:35696.818181818184



-----------------
===============
===============
data for: UNIVERSITY OF NORTHERN COLORADO

~DEGREE BREAKDOWN!:

-----------------
degree: Masters
the average salary at 25 is:38840.28070175439
the average salary at 50 is:50911.40350877193
the average salary at 75 is:65780.22807017544




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:41533.5625
the average salary at 50 is:55168.5625
the average salary at 75 is:71696.5



cohort: 2001
the average salary at 25 is:39752.3
the average salary at 50 is:52400.75
the average salary at 75 is:68983.15



cohort: 2006
the average salary at 25 is:37331.0
the average salary at 50 is:48592.0
the average salary at 75 is:61651.142857142855



cohort: 2011
the average salary at 25 is:33097.0
the average salary at 50 is:41564.28571428572
the average salary at 75 is:51364.28571428572



-----------------
-----------------
degree: Doctoral - Research/Scholarship
the average salary at 25 is:52198.82608695652
the average salary at 50 is:66808.86956521739
the average salary at 75 is:82451.04347826086




~COHORT BREAKDOWN:

cohort: 2006
the average salary at 25 is:52623.666666666664
the average salary at 50 is:70049.5
the average salary at 75 is:86822.0



cohort: 2001
the average salary at 25 is:52870.22222222222
the average salary at 50 is:66011.88888888889
the average salary at 75 is:81017.0



cohort: 2011
the average salary at 25 is:47782.75
the average salary at 50 is:62488.5
the average salary at 75 is:77334.75



cohort: 1996
the average salary at 25 is:54467.0
the average salary at 50 is:68061.5
the average salary at 75 is:84237.5



-----------------
-----------------
degree: Baccalaureate
the average salary at 25 is:28550.18208955224
the average salary at 50 is:38301.18805970149
the average salary at 75 is:50249.14626865672




~COHORT BREAKDOWN:

cohort: 1998
the average salary at 25 is:33554.544117647056
the average salary at 50 is:45279.85294117647
the average salary at 75 is:60139.94117647059



cohort: 2004
the average salary at 25 is:29916.02564102564
the average salary at 50 is:40162.44871794872
the average salary at 75 is:53091.41025641026



cohort: 2001
the average salary at 25 is:30038.5641025641
the average salary at 50 is:40654.153846153844
the average salary at 75 is:53329.730769230766



cohort: 2007
the average salary at 25 is:25802.446428571428
the average salary at 50 is:34547.142857142855
the average salary at 75 is:44303.55357142857



cohort: 2013
the average salary at 25 is:21576.96153846154
the average salary at 50 is:28409.53846153846
the average salary at 75 is:36808.730769230766



cohort: 2010
the average salary at 25 is:20696.758620689656
the average salary at 50 is:26720.172413793105
the average salary at 75 is:34657.68965517241



-----------------
===============
===============
data for: UNIV OF TX MD ANDERSON CANCER CTR

~DEGREE BREAKDOWN!:

-----------------
degree: Baccalaureate
the average salary at 25 is:53887.181818181816
the average salary at 50 is:62299.36363636364
the average salary at 75 is:71626.27272727272




~COHORT BREAKDOWN:

cohort: 2010
the average salary at 25 is:58118.0
the average salary at 50 is:64879.666666666664
the average salary at 75 is:71069.0



cohort: 2007
the average salary at 25 is:54803.75
the average salary at 50 is:65708.0
the average salary at 75 is:76161.0



cohort: 2004
the average salary at 25 is:50745.0
the average salary at 50 is:58258.0
the average salary at 75 is:68350.5



cohort: 2013
the average salary at 25 is:48850.0
the average salary at 50 is:55653.0
the average salary at 75 is:66668.5



-----------------
===============
===============
data for: WESTERN STATE COLORADO UNIVERSITY

~DEGREE BREAKDOWN!:

-----------------
degree: Baccalaureate
the average salary at 25 is:26284.47154471545
the average salary at 50 is:36884.382113821135
the average salary at 75 is:50124.276422764226




~COHORT BREAKDOWN:

cohort: 2007
the average salary at 25 is:23817.35
the average salary at 50 is:34773.8
the average salary at 75 is:46428.2



cohort: 1998
the average salary at 25 is:31185.708333333332
the average salary at 50 is:44237.083333333336
the average salary at 75 is:60588.291666666664



cohort: 2004
the average salary at 25 is:26249.62962962963
the average salary at 50 is:36579.03703703704
the average salary at 75 is:48874.40740740741



cohort: 2001
the average salary at 25 is:27728.75
the average salary at 50 is:38421.13888888889
the average salary at 75 is:52692.416666666664



cohort: 2013
the average salary at 25 is:19504.571428571428
the average salary at 50 is:26772.85714285714
the average salary at 75 is:36435.142857142855



cohort: 2010
the average salary at 25 is:18297.666666666668
the average salary at 50 is:24600.88888888889
the average salary at 75 is:34557.88888888889



-----------------
-----------------
degree: Masters
the average salary at 25 is:31072.0
the average salary at 50 is:39074.0
the average salary at 75 is:47530.0




~COHORT BREAKDOWN:

cohort: 2011
the average salary at 25 is:31072.0
the average salary at 50 is:39074.0
the average salary at 75 is:47530.0



-----------------
===============
===============
data for: COLORADO STATE UNIVERSITY - GLOBAL CAMPU

~DEGREE BREAKDOWN!:

-----------------
degree: Masters
the average salary at 25 is:47165.2
the average salary at 50 is:62768.4
the average salary at 75 is:87070.8




~COHORT BREAKDOWN:

cohort: 2006
the average salary at 25 is:55399.0
the average salary at 50 is:72872.0
the average salary at 75 is:99630.5



cohort: 2011
the average salary at 25 is:41676.0
the average salary at 50 is:56032.666666666664
the average salary at 75 is:78697.66666666667



-----------------
-----------------
degree: Baccalaureate
the average salary at 25 is:37899.916666666664
the average salary at 50 is:52280.0
the average salary at 75 is:74556.5




~COHORT BREAKDOWN:

cohort: 2013
the average salary at 25 is:39383.42857142857
the average salary at 50 is:54269.857142857145
the average salary at 75 is:75662.57142857143



cohort: 2010
the average salary at 25 is:35823.0
the average salary at 50 is:49494.2
the average salary at 75 is:73008.0



-----------------
===============
===============
data for: LAMAR COMMUNITY COLLEGE

~DEGREE BREAKDOWN!:

-----------------
degree: Certificate, <1 year
the average salary at 25 is:28175.5
the average salary at 50 is:43391.5
the average salary at 75 is:67854.0




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:28175.5
the average salary at 50 is:43391.5
the average salary at 75 is:67854.0



-----------------
-----------------
degree: Certificate,1-2 years
the average salary at 25 is:28799.0
the average salary at 50 is:38645.0
the average salary at 75 is:48893.75




~COHORT BREAKDOWN:

cohort: 2011
the average salary at 25 is:21508.0
the average salary at 50 is:28164.0
the average salary at 75 is:32213.0



cohort: 1996
the average salary at 25 is:34312.0
the average salary at 50 is:44024.0
the average salary at 75 is:55150.5



cohort: 2001
the average salary at 25 is:27888.0
the average salary at 50 is:39440.333333333336
the average salary at 75 is:52362.666666666664



cohort: 2006
the average salary at 25 is:28298.0
the average salary at 50 is:37313.5
the average salary at 75 is:45774.0



-----------------
-----------------
degree: Associates
the average salary at 25 is:28499.6875
the average salary at 50 is:38310.0
the average salary at 75 is:49062.5




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:21295.5
the average salary at 50 is:31220.75
the average salary at 75 is:42998.25



cohort: 2001
the average salary at 25 is:32022.833333333332
the average salary at 50 is:43504.5
the average salary at 75 is:54281.833333333336



cohort: 2006
the average salary at 25 is:29583.5
the average salary at 50 is:38126.25
the average salary at 75 is:48427.75



cohort: 2011
the average salary at 25 is:30171.0
the average salary at 50 is:37272.5
the average salary at 75 is:46802.5



-----------------
===============
===============
data for: COLORADO NORTHWESTERN COMMUNITY COLLEGE

~DEGREE BREAKDOWN!:

-----------------
degree: Certificate, <1 year
the average salary at 25 is:29643.88888888889
the average salary at 50 is:40888.666666666664
the average salary at 75 is:58949.22222222222




~COHORT BREAKDOWN:

cohort: 2011
the average salary at 25 is:22060.0
the average salary at 50 is:32515.0
the average salary at 75 is:46433.666666666664



cohort: 2006
the average salary at 25 is:33435.833333333336
the average salary at 50 is:45075.5
the average salary at 75 is:65207.0



-----------------
-----------------
degree: Certificate,1-2 years
the average salary at 25 is:46673.0
the average salary at 50 is:53358.0
the average salary at 75 is:72639.0




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:46673.0
the average salary at 50 is:53358.0
the average salary at 75 is:72639.0



-----------------
-----------------
degree: Associates
the average salary at 25 is:32226.526315789473
the average salary at 50 is:44599.84210526316
the average salary at 75 is:58590.52631578947




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:33812.0
the average salary at 50 is:47653.75
the average salary at 75 is:64424.25



cohort: 2001
the average salary at 25 is:30708.833333333332
the average salary at 50 is:43661.833333333336
the average salary at 75 is:58355.833333333336



cohort: 2006
the average salary at 25 is:33360.833333333336
the average salary at 50 is:45165.5
the average salary at 75 is:57556.5



cohort: 2011
the average salary at 25 is:30879.333333333332
the average salary at 50 is:41272.666666666664
the average salary at 75 is:53349.666666666664



-----------------
===============
===============
data for: NORTHEASTERN JUNIOR COLLEGE

~DEGREE BREAKDOWN!:

-----------------
degree: Certificate, <1 year
the average salary at 25 is:24970.555555555555
the average salary at 50 is:36669.444444444445
the average salary at 75 is:56486.11111111111




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:25608.0
the average salary at 50 is:38429.833333333336
the average salary at 75 is:60405.5



cohort: 2006
the average salary at 25 is:25702.0
the average salary at 50 is:35749.5
the average salary at 75 is:53151.5



cohort: 2011
the average salary at 25 is:19683.0
the average salary at 50 is:27947.0
the average salary at 75 is:39639.0



-----------------
-----------------
degree: Certificate,1-2 years
the average salary at 25 is:24358.166666666668
the average salary at 50 is:33010.555555555555
the average salary at 75 is:43100.944444444445




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:26755.666666666668
the average salary at 50 is:37284.666666666664
the average salary at 75 is:48773.666666666664



cohort: 2001
the average salary at 25 is:25496.222222222223
the average salary at 50 is:33772.11111111111
the average salary at 75 is:44766.22222222222



cohort: 2006
the average salary at 25 is:22792.25
the average salary at 50 is:31778.5
the average salary at 75 is:39380.75



cohort: 2011
the average salary at 25 is:18772.5
the average salary at 50 is:25636.5
the average salary at 75 is:34538.5



-----------------
-----------------
degree: Associates
the average salary at 25 is:26472.064516129034
the average salary at 50 is:35918.032258064515
the average salary at 75 is:49583.87096774193




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:28628.375
the average salary at 50 is:39569.75
the average salary at 75 is:54658.25



cohort: 2001
the average salary at 25 is:23654.733333333334
the average salary at 50 is:32117.733333333334
the average salary at 75 is:47139.666666666664



cohort: 2006
the average salary at 25 is:30831.8
the average salary at 50 is:39321.0
the average salary at 75 is:48427.6



cohort: 2011
the average salary at 25 is:27542.333333333332
the average salary at 50 is:39510.0
the average salary at 75 is:50200.333333333336



-----------------
===============
===============
data for: OTERO JUNIOR COLLEGE

~DEGREE BREAKDOWN!:

-----------------
degree: Certificate, <1 year
the average salary at 25 is:24042.130434782608
the average salary at 50 is:34893.17391304348
the average salary at 75 is:50737.782608695656




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:25737.5
the average salary at 50 is:36873.583333333336
the average salary at 75 is:55177.583333333336



cohort: 2006
the average salary at 25 is:23347.125
the average salary at 50 is:35707.125
the average salary at 75 is:50308.5



cohort: 2011
the average salary at 25 is:19114.0
the average salary at 50 is:24801.0
the average salary at 75 is:34123.333333333336



-----------------
-----------------
degree: Certificate,1-2 years
the average salary at 25 is:28480.777777777777
the average salary at 50 is:39098.77777777778
the average salary at 75 is:50917.0




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:32346.25
the average salary at 50 is:45696.25
the average salary at 75 is:60564.25



cohort: 2001
the average salary at 25 is:28847.0
the average salary at 50 is:40556.71428571428
the average salary at 75 is:52405.71428571428



cohort: 2006
the average salary at 25 is:25999.8
the average salary at 50 is:34497.4
the average salary at 75 is:45371.6



cohort: 2011
the average salary at 25 is:25670.5
the average salary at 50 is:32304.5
the average salary at 75 is:40275.5



-----------------
-----------------
degree: Associates
the average salary at 25 is:32777.23529411765
the average salary at 50 is:42236.05882352941
the average salary at 75 is:53166.76470588235




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:33097.4
the average salary at 50 is:44257.8
the average salary at 75 is:57049.6



cohort: 2001
the average salary at 25 is:34646.666666666664
the average salary at 50 is:44325.166666666664
the average salary at 75 is:54758.833333333336



cohort: 2006
the average salary at 25 is:31243.0
the average salary at 50 is:39251.75
the average salary at 75 is:49350.75



cohort: 2011
the average salary at 25 is:29437.0
the average salary at 50 is:36883.0
the average salary at 75 is:46315.5



-----------------
===============
===============
data for: TRINIDAD STATE JR COLLEGE

~DEGREE BREAKDOWN!:

-----------------
degree: Certificate, <1 year
the average salary at 25 is:25845.272727272728
the average salary at 50 is:35901.318181818184
the average salary at 75 is:49725.13636363636




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:26846.571428571428
the average salary at 50 is:37786.57142857143
the average salary at 75 is:50378.0



cohort: 2001
the average salary at 25 is:26375.833333333332
the average salary at 50 is:35911.0
the average salary at 75 is:50060.666666666664



cohort: 2006
the average salary at 25 is:25564.5
the average salary at 50 is:35908.666666666664
the average salary at 75 is:51876.333333333336



cohort: 2011
the average salary at 25 is:23009.333333333332
the average salary at 50 is:31468.333333333332
the average salary at 75 is:43228.333333333336



-----------------
-----------------
degree: Certificate,1-2 years
the average salary at 25 is:25295.486486486487
the average salary at 50 is:34966.62162162162
the average salary at 75 is:48879.51351351351




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:23800.916666666668
the average salary at 50 is:32502.75
the average salary at 75 is:47032.833333333336



cohort: 1996
the average salary at 25 is:28025.0
the average salary at 50 is:40270.666666666664
the average salary at 75 is:55969.0



cohort: 2006
the average salary at 25 is:25378.733333333334
the average salary at 50 is:35349.26666666667
the average salary at 75 is:49768.53333333333



cohort: 2011
the average salary at 25 is:26509.428571428572
the average salary at 50 is:36097.28571428572
the average salary at 75 is:47101.857142857145



-----------------
-----------------
degree: Associates
the average salary at 25 is:36537.375
the average salary at 50 is:49383.40625
the average salary at 75 is:64541.625




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:32434.666666666668
the average salary at 50 is:46372.444444444445
the average salary at 75 is:62484.0



cohort: 2001
the average salary at 25 is:37761.75
the average salary at 50 is:50168.5
the average salary at 75 is:65384.583333333336



cohort: 2006
the average salary at 25 is:38585.0
the average salary at 50 is:51011.125
the average salary at 75 is:65976.75



cohort: 2011
the average salary at 25 is:38487.666666666664
the average salary at 50 is:50935.333333333336
the average salary at 75 is:63515.666666666664



-----------------
===============
===============
data for: COLORADO MOUNTAIN COLLEGE

~DEGREE BREAKDOWN!:

-----------------
degree: Baccalaureate
the average salary at 25 is:21614.0
the average salary at 50 is:29069.5
the average salary at 75 is:38539.5




~COHORT BREAKDOWN:

cohort: 2013
the average salary at 25 is:21614.0
the average salary at 50 is:29069.5
the average salary at 75 is:38539.5



-----------------
-----------------
degree: Certificate, <1 year
the average salary at 25 is:27429.75
the average salary at 50 is:39034.34375
the average salary at 75 is:53747.03125




~COHORT BREAKDOWN:

cohort: 2011
the average salary at 25 is:24627.428571428572
the average salary at 50 is:34295.57142857143
the average salary at 75 is:48666.142857142855



cohort: 1996
the average salary at 25 is:33057.2
the average salary at 50 is:47739.6
the average salary at 75 is:63060.6



cohort: 2001
the average salary at 25 is:27641.25
the average salary at 50 is:39873.25
the average salary at 75 is:56110.25



cohort: 2006
the average salary at 25 is:26047.375
the average salary at 50 is:36481.625
the average salary at 75 is:48827.0



-----------------
-----------------
degree: Certificate,1-2 years
the average salary at 25 is:35182.8
the average salary at 50 is:46956.933333333334
the average salary at 75 is:61169.8




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:37241.857142857145
the average salary at 50 is:48487.42857142857
the average salary at 75 is:62845.0



cohort: 2006
the average salary at 25 is:37909.0
the average salary at 50 is:48821.333333333336
the average salary at 75 is:57915.0



cohort: 2011
the average salary at 25 is:25575.0
the average salary at 50 is:35517.0
the average salary at 75 is:53454.0



cohort: 1996
the average salary at 25 is:38298.5
the average salary at 50 is:55963.5
the average salary at 75 is:71762.5



-----------------
-----------------
degree: Associates
the average salary at 25 is:27260.581395348836
the average salary at 50 is:35903.558139534885
the average salary at 75 is:46498.441860465115




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:27659.875
the average salary at 50 is:37995.0
the average salary at 75 is:50502.75



cohort: 2001
the average salary at 25 is:28244.176470588234
the average salary at 50 is:37393.705882352944
the average salary at 75 is:48386.94117647059



cohort: 2006
the average salary at 25 is:27255.923076923078
the average salary at 50 is:34973.46153846154
the average salary at 75 is:44738.38461538462



cohort: 2011
the average salary at 25 is:23289.6
the average salary at 50 is:29909.0
the average salary at 75 is:38246.8



-----------------
===============
===============
data for: UNIVERSITY OF TEXAS HEALTH SCIENCE CENTE

~DEGREE BREAKDOWN!:

===============
===============
data for: EMILY GRIFFITH TECHNICAL COLLEGE

~DEGREE BREAKDOWN!:

-----------------
degree: Certificate, <1 year
the average salary at 25 is:25177.85714285714
the average salary at 50 is:35683.333333333336
the average salary at 75 is:50005.23809523809




~COHORT BREAKDOWN:

cohort: 2011
the average salary at 25 is:27720.222222222223

the average salary at 25 is:34584.5625
the average salary at 50 is:47346.375
the average salary at 75 is:64318.125



cohort: 2001
the average salary at 25 is:31142.9375
the average salary at 50 is:42303.96875
the average salary at 75 is:57013.71875



cohort: 2006
the average salary at 25 is:29573.85
the average salary at 50 is:38400.05
the average salary at 75 is:51537.6



cohort: 2011
the average salary at 25 is:22642.777777777777
the average salary at 50 is:30882.222222222223
the average salary at 75 is:41166.11111111111



-----------------
===============
===============
data for: FRONT RANGE COMMUNITY COLLEGE

~DEGREE BREAKDOWN!:

-----------------
degree: Certificate, <1 year
the average salary at 25 is:27184.639175257733
the average salary at 50 is:38958.40206185567
the average salary at 75 is:54260.65979381443




~COHORT BREAKDOWN:

cohort: 2006
the average salary at 25 is:23450.966666666667
the average salary at 50 is:34108.1
the average salary at 75 is:48369.433333333334



cohort: 2011
the average salary at 25 is:21469.071428571428
the average salary at 50 is:29421.785714285714
the average salary at 75 is:41091.5



cohort: 1996
the average salary at 25 is:34295.769230769234
the average salary at 50 is:48906.46153846154
the average salary at 75 is:66837.69230769231



cohort: 2001
the average salary at 25 is:29674.225
the average salary at 50 is:42700.825
the average salary at 75 is:59200.75



-----------------
-----------------
degree: Certificate,1-2 years
the average salary at 25 is:30292.25
the average salary at 50 is:40767.166666666664
the average salary at 75 is:53979.25




~COHORT BREAKDOWN:

cohort: 2006
the average salary at 25 is:24990.444444444445
the average salary at 50 is:33305.666666666664
the average salary at 75 is:43604.555555555555



cohort: 2011
the average salary at 25 is:24474.75
the average salary at 50 is:30553.375
the average salary at 75 is:40862.125



cohort: 1996
the average salary at 25 is:33934.3125
the average salary at 50 is:48878.1875
the average salary at 75 is:65219.3125



cohort: 2001
the average salary at 25 is:31624.962962962964
the average salary at 50 is:41474.11111111111
the average salary at 75 is:54663.25925925926



-----------------
-----------------
degree: Associates
the average salary at 25 is:29260.377551020407
the average salary at 50 is:39772.65306122449
the average salary at 75 is:53366.21428571428




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:34384.53846153846
the average salary at 50 is:46432.346153846156
the average salary at 75 is:62228.230769230766



cohort: 2001
the average salary at 25 is:29615.484848484848
the average salary at 50 is:40722.42424242424
the average salary at 75 is:54653.30303030303



cohort: 2006
the average salary at 25 is:26791.92
the average salary at 50 is:36218.76
the average salary at 75 is:50007.0



cohort: 2011
the average salary at 25 is:23315.0
the average salary at 50 is:31512.14285714286
the average salary at 75 is:39872.92857142857



-----------------
===============
===============
data for: PIKES PEAK COMMUNITY COLLEGE

~DEGREE BREAKDOWN!:

-----------------
degree: Certificate, <1 year
the average salary at 25 is:24388.87037037037
the average salary at 50 is:35765.81481481482
the average salary at 75 is:48516.88888888889




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:43639.0
the average salary at 50 is:69329.0
the average salary at 75 is:85304.33333333333



cohort: 2001
the average salary at 25 is:23102.136363636364
the average salary at 50 is:33590.09090909091
the average salary at 75 is:46691.72727272727



cohort: 2006
the average salary at 25 is:25107.85
the average salary at 50 is:37313.9
the average salary at 75 is:50683.4



cohort: 2011
the average salary at 25 is:19519.777777777777
the average salary at 50 is:26456.333333333332
the average salary at 75 is:35901.444444444445



-----------------
-----------------
degree: Certificate,1-2 years
the average salary at 25 is:24619.695652173912
the average salary at 50 is:32674.478260869564
the average salary at 75 is:41964.04347826087




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:28647.428571428572
the average salary at 50 is:38145.28571428572
the average salary at 75 is:48368.28571428572



cohort: 2011
the average salary at 25 is:20423.5
the average salary at 50 is:26675.333333333332
the average salary at 75 is:36435.0



cohort: 2006
the average salary at 25 is:24130.25
the average salary at 50 is:31845.375
the average salary at 75 is:40408.0



cohort: 1996
the average salary at 25 is:25069.0
the average salary at 50 is:34840.5
the average salary at 75 is:42360.5



-----------------
-----------------
degree: Associates
the average salary at 25 is:30047.394495412846
the average salary at 50 is:40953.8256880734
the average salary at 75 is:54242.266055045875




~COHORT BREAKDOWN:

cohort: 2006
the average salary at 25 is:25985.266666666666
the average salary at 50 is:36144.566666666666
the average salary at 75 is:46904.4



cohort: 2001
the average salary at 25 is:30709.585365853658
the average salary at 50 is:40967.70731707317
the average salary at 75 is:53743.634146341465



cohort: 2011
the average salary at 25 is:22725.0
the average salary at 50 is:30732.866666666665
the average salary at 75 is:41802.2



cohort: 1996
the average salary at 25 is:38940.86956521739
the average salary at 50 is:53867.86956521739
the average salary at 75 is:72815.34782608696



-----------------
===============
===============
data for: COMMUNITY COLLEGE OF DENVER

~DEGREE BREAKDOWN!:

-----------------
degree: Certificate, <1 year
the average salary at 25 is:23132.678571428572
the average salary at 50 is:31614.464285714286
the average salary at 75 is:43060.392857142855




~COHORT BREAKDOWN:

cohort: 2011
the average salary at 25 is:18877.0
the average salary at 50 is:26306.666666666668
the average salary at 75 is:37027.666666666664



cohort: 1996
the average salary at 25 is:26947.5
the average salary at 50 is:34866.25
the average salary at 75 is:42500.25



cohort: 2001
the average salary at 25 is:23873.30769230769
the average salary at 50 is:33160.692307692305
the average salary at 75 is:46452.846153846156



cohort: 2006
the average salary at 25 is:21617.625
the average salary at 50 is:29466.375
the average salary at 75 is:40090.0



-----------------
-----------------
degree: Certificate,1-2 years
the average salary at 25 is:30482.29268292683
the average salary at 50 is:41415.68292682927
the average salary at 75 is:54728.65853658537




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:28990.875
the average salary at 50 is:38558.125
the average salary at 75 is:49934.0



cohort: 2001
the average salary at 25 is:34961.375
the average salary at 50 is:47653.0625
the average salary at 75 is:63967.625



cohort: 2011
the average salary at 25 is:23566.666666666668
the average salary at 50 is:31994.666666666668
the average salary at 75 is:42156.0



cohort: 2006
the average salary at 25 is:25973.0
the average salary at 50 is:37113.333333333336
the average salary at 75 is:49163.5



-----------------
-----------------
degree: Associates
the average salary at 25 is:36723.48
the average salary at 50 is:48939.82
the average salary at 75 is:63702.22




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:38720.380952380954
the average salary at 50 is:51680.142857142855
the average salary at 75 is:68480.52380952382



cohort: 1996
the average salary at 25 is:39893.833333333336
the average salary at 50 is:53969.916666666664
the average salary at 75 is:70733.25



cohort: 2011
the average salary at 25 is:27226.14285714286
the average salary at 50 is:37276.28571428572
the average salary at 75 is:47526.57142857143



cohort: 2006
the average salary at 25 is:35373.7
the average salary at 50 is:45313.5
the average salary at 75 is:56553.5



-----------------
===============
===============
data for: RED ROCKS COMMUNITY COLLEGE

~DEGREE BREAKDOWN!:

-----------------
degree: Certificate, <1 year
the average salary at 25 is:28069.907894736843
the average salary at 50 is:39480.28947368421
the average salary at 75 is:54214.36842105263




~COHORT BREAKDOWN:

cohort: 2011
the average salary at 25 is:21572.823529411766
the average salary at 50 is:31495.70588235294
the average salary at 75 is:43912.41176470588



cohort: 2006
the average salary at 25 is:25419.7
the average salary at 50 is:36618.5
the average salary at 75 is:51490.95



cohort: 2001
the average salary at 25 is:30339.333333333332
the average salary at 50 is:42431.96666666667
the average salary at 75 is:58032.4



cohort: 1996
the average salary at 25 is:38666.77777777778
the average salary at 50 is:51082.88888888889
the average salary at 75 is:66998.88888888889



-----------------
-----------------
degree: Certificate,1-2 years
the average salary at 25 is:39612.93939393939
the average salary at 50 is:54823.36363636364
the average salary at 75 is:71907.15151515152




~COHORT BREAKDOWN:

cohort: 2011
the average salary at 25 is:34434.25
the average salary at 50 is:45138.75
the average salary at 75 is:57638.75



cohort: 1996
the average salary at 25 is:37087.333333333336
the average salary at 50 is:55512.0
the average salary at 75 is:73541.33333333333



cohort: 2001
the average salary at 25 is:39902.8125
the average salary at 50 is:54263.1875
the average salary at 75 is:72339.0



cohort: 2006
the average salary at 25 is:49314.75
the average salary at 50 is:65199.25
the average salary at 75 is:80771.25



-----------------
-----------------
degree: Associates
the average salary at 25 is:35403.68656716418
the average salary at 50 is:50224.05970149254
the average salary at 75 is:68613.41791044777




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:38854.23529411765
the average salary at 50 is:53651.58823529412
the average salary at 75 is:73729.76470588235



cohort: 2006
the average salary at 25 is:32472.8125
the average salary at 50 is:48037.125
the average salary at 75 is:66767.75



cohort: 2011
the average salary at 25 is:26523.555555555555
the average salary at 50 is:38036.555555555555
the average salary at 75 is:52381.555555555555



cohort: 2001
the average salary at 25 is:38129.92
the average salary at 50 is:53680.48
the average salary at 75 is:72159.0



-----------------
===============
===============
data for: MORGAN COMMUNITY COLLEGE

~DEGREE BREAKDOWN!:

-----------------
degree: Certificate, <1 year
the average salary at 25 is:24220.625
the average salary at 50 is:35564.291666666664
the average salary at 75 is:51112.5




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:26532.545454545456
the average salary at 50 is:38703.454545454544
the average salary at 75 is:56351.09090909091



cohort: 2006
the average salary at 25 is:21847.0
the average salary at 50 is:32830.333333333336
the average salary at 75 is:49485.333333333336



cohort: 2011
the average salary at 25 is:19436.666666666668
the average salary at 50 is:28471.333333333332
the average salary at 75 is:38150.0



cohort: 1996
the average salary at 25 is:25011.25
the average salary at 50 is:36352.25
the average salary at 75 is:48869.0



-----------------
-----------------
degree: Certificate,1-2 years
the average salary at 25 is:31049.636363636364
the average salary at 50 is:42448.454545454544
the average salary at 75 is:56388.90909090909




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:23775.0
the average salary at 50 is:36668.0
the average salary at 75 is:52184.5



cohort: 2001
the average salary at 25 is:34035.8
the average salary at 50 is:47921.6
the average salary at 75 is:65589.0



cohort: 2006
the average salary at 25 is:33153.333333333336
the average salary at 50 is:41303.0
the average salary at 75 is:50149.0



cohort: 2011
the average salary at 25 is:24357.0
the average salary at 50 is:30080.0
the average salary at 75 is:37517.0



-----------------
-----------------
degree: Associates
the average salary at 25 is:32545.08695652174
the average salary at 50 is:42470.565217391304
the average salary at 75 is:54358.913043478264




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:32500.428571428572
the average salary at 50 is:42256.57142857143
the average salary at 75 is:55102.0



cohort: 2001
the average salary at 25 is:36120.666666666664
the average salary at 50 is:46198.0
the average salary at 75 is:59390.666666666664



cohort: 2006
the average salary at 25 is:31441.14285714286
the average salary at 50 is:41733.857142857145
the average salary at 75 is:52516.142857142855



cohort: 2011
the average salary at 25 is:28074.0
the average salary at 50 is:37234.0
the average salary at 75 is:46861.333333333336



-----------------
===============
===============
data for: PICKENS TECHNICAL COLLEGE

~DEGREE BREAKDOWN!:

-----------------
degree: Certificate, <1 year
the average salary at 25 is:20873.125
the average salary at 50 is:30102.375
the average salary at 75 is:44648.625




~COHORT BREAKDOWN:

cohort: 2011
the average salary at 25 is:20873.125
the average salary at 50 is:30102.375
the average salary at 75 is:44648.625



-----------------
-----------------
degree: Certificate,1-2 years
the average salary at 25 is:26951.727272727272
the average salary at 50 is:37267.454545454544
the average salary at 75 is:52689.90909090909




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:26951.727272727272
the average salary at 50 is:37267.454545454544
the average salary at 75 is:52689.90909090909



-----------------
===============
===============
data for: PUEBLO COMMUNITY COLLEGE

~DEGREE BREAKDOWN!:

-----------------
degree: Certificate, <1 year
the average salary at 25 is:21293.105263157893
the average salary at 50 is:29285.526315789473
the average salary at 75 is:39594.65789473684




~COHORT BREAKDOWN:

cohort: 2011
the average salary at 25 is:19248.69230769231
the average salary at 50 is:26258.69230769231
the average salary at 75 is:36279.307692307695



cohort: 2006
the average salary at 25 is:22464.25
the average salary at 50 is:31585.9375
the average salary at 75 is:41594.3125



cohort: 2001
the average salary at 25 is:22164.11111111111
the average salary at 50 is:29568.0
the average salary at 75 is:40828.555555555555



-----------------
-----------------
degree: Certificate,1-2 years
the average salary at 25 is:27514.577777777777
the average salary at 50 is:36300.444444444445
the average salary at 75 is:47809.177777777775




~COHORT BREAKDOWN:

cohort: 2011
the average salary at 25 is:21093.666666666668
the average salary at 50 is:27472.833333333332
the average salary at 75 is:35295.5



cohort: 2001
the average salary at 25 is:30250.70588235294
the average salary at 50 is:39882.64705882353
the average salary at 75 is:51229.470588235294



cohort: 2006
the average salary at 25 is:24623.666666666668
the average salary at 50 is:32970.73333333333
the average salary at 75 is:43811.933333333334



cohort: 1996
the average salary at 25 is:32568.14285714286
the average salary at 50 is:42302.42857142857
the average salary at 75 is:58794.28571428572



-----------------
-----------------
degree: Associates
the average salary at 25 is:28971.394366197183
the average salary at 50 is:39320.05633802817
the average salary at 75 is:51402.35211267605




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:29167.433333333334
the average salary at 50 is:38973.7
the average salary at 75 is:50774.166666666664



cohort: 2006
the average salary at 25 is:27175.5625
the average salary at 50 is:37401.125
the average salary at 75 is:49048.625



cohort: 1996
the average salary at 25 is:31247.21052631579
the average salary at 50 is:42891.21052631579
the average salary at 75 is:55875.73684210526



cohort: 2011
the average salary at 25 is:25573.333333333332
the average salary at 50 is:34860.333333333336
the average salary at 75 is:46654.166666666664



-----------------
===============
===============
data for: COMMUNITY COLLEGE OF AURORA

~DEGREE BREAKDOWN!:

-----------------
degree: Certificate, <1 year
the average salary at 25 is:36794.80487804878
the average salary at 50 is:50139.21951219512
the average salary at 75 is:64820.48780487805




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:40875.47619047619
the average salary at 50 is:54607.666666666664
the average salary at 75 is:68808.38095238095



cohort: 2011
the average salary at 25 is:21583.8
the average salary at 50 is:32795.8
the average salary at 75 is:43022.0



cohort: 2006
the average salary at 25 is:26742.545454545456
the average salary at 50 is:38730.72727272727
the average salary at 75 is:56405.90909090909



cohort: 1996
the average salary at 25 is:62028.75
the average salary at 50 is:79732.5
the average salary at 75 is:94272.25



-----------------
-----------------
degree: Certificate,1-2 years
the average salary at 25 is:31129.5
the average salary at 50 is:40842.3
the average salary at 75 is:52217.6




~COHORT BREAKDOWN:

cohort: 2001
the average salary at 25 is:29636.428571428572
the average salary at 50 is:40707.57142857143
the average salary at 75 is:49759.42857142857



cohort: 2006
the average salary at 25 is:30542.125
the average salary at 50 is:39824.375
the average salary at 75 is:52845.125



cohort: 1996
the average salary at 25 is:37324.0
the average salary at 50 is:46820.0
the average salary at 75 is:57656.5



cohort: 2011
the average salary at 25 is:32050.0
the average salary at 50 is:39886.0
the average salary at 75 is:52654.0



-----------------
-----------------
degree: Associates
the average salary at 25 is:31623.86046511628
the average salary at 50 is:43818.023255813954
the average salary at 75 is:58300.3023255814




~COHORT BREAKDOWN:

cohort: 1996
the average salary at 25 is:36998.77777777778
the average salary at 50 is:47971.22222222222
the average salary at 75 is:64962.666666666664



cohort: 2001
the average salary at 25 is:30414.6
the average salary at 50 is:43579.0
the average salary at 75 is:58456.6



cohort: 2006
the average salary at 25 is:31184.9
the average salary at 50 is:42698.4
the average salary at 75 is:55637.4



cohort: 2011
the average salary at 25 is:26674.0
the average salary at 50 is:38467.5
the average salary at 75 is:49185.75



-----------------
===============

In [57]:
bsavg_earnings_csv = "Average Earnings per Institute BS.csv"

bsavg_earnings_df = pd.read_csv(bsavg_earnings_csv)

In [59]:
bsavg_earnings_df

                                 INSTITUTION AVERAGE EARNINGS     DEGREE
0                   COLORADO SCHOOL OF MINES      84079.83642  BACHELORS
1        UNIV OF TEXAS HEALTH SCIENCE CENTER      71251.80952  BACHELORS
2               UNIV OF TEXAS MEDICAL BRANCH      69421.96875  BACHELORS
3               UT HEALTH CENTER-SAN ANTONIO      65411.98485  BACHELORS
4         UNIV OF TEXAS SOUTHWESTERN MED CTR      63203.93939  BACHELORS
5          UNIV OF TX MD ANDERSON CANCER CTR      62604.27273  BACHELORS
6                 UNIVERSITY OF TEXAS-AUSTIN      60645.90947  BACHELORS
7   COLORADO STATE UNIVERSITY - GLOBAL CAMPU      54912.13889  BACHELORS
8              UNIVERSITY OF TEXAS-ARLINGTON      53604.84131  BACHELORS
9              UNIVERSITY OF TEXAS AT DALLAS      52285.57168  BACHELORS
10               UNIVERSITY OF TEXAS-EL PASO      49833.58689  BACHELORS
11            UNIVERSITY OF COLORADO-BOULDER      49643.60475  BACHELORS
12        UNIVERSITY OF TEXAS - PAN AMERICAN       49594.0268  BACHELORS
13           UNIVERSITY OF TEXAS-SAN ANTONIO      49364.46197  BACHELORS
14              UNIVERSITY OF TEXAS AT TYLER      49162.91718  BACHELORS
15             UNIVERSITY OF COLORADO DENVER      47334.19141  BACHELORS
16         UNIVERSITY OF TEXAS-PERMIAN BASIN      47108.04623  BACHELORS
17          UNIV OF COLORADO AT COLO SPRINGS      45160.71795  BACHELORS
18   METROPOLITAN STATE UNIVERSITY OF DENVER       44844.5409  BACHELORS
19                 COLORADO STATE UNIVERSITY      44728.04882  BACHELORS
20         UNIVERSITY OF TEXAS - BROWNSVILLE      44295.40873  BACHELORS
21                  COLORADO MESA UNIVERSITY      41188.48667  BACHELORS
22          COLORADO STATE UNIVERSITY-PUEBLO      41169.71739  BACHELORS
23           UNIVERSITY OF NORTHERN COLORADO      39033.50547  BACHELORS
24                       ADAMS STATE COLLEGE      38073.20202  BACHELORS
25                        FORT LEWIS COLLEGE      37970.77708  BACHELORS
26         WESTERN STATE COLORADO UNIVERSITY      37764.37669  BACHELORS
27                 COLORADO MOUNTAIN COLLEGE            29741  BACHELORS
28                  COLORADO SCHOOL OF MINES      92612.25806    MASTERS
29              UNIV OF TEXAS MEDICAL BRANCH      88053.33333    MASTERS
..                                       ...              ...        ...
38                UNIVERSITY OF TEXAS-AUSTIN      66482.94309    MASTERS
39              UNIVERSITY OF TEXAS AT TYLER      66067.81081    MASTERS
40  COLORADO STATE UNIVERSITY - GLOBAL CAMPU      65668.13333    MASTERS
41               UNIVERSITY OF TEXAS-EL PASO      63539.05556    MASTERS
42            UNIVERSITY OF COLORADO-BOULDER      61799.46032    MASTERS
43          COLORADO STATE UNIVERSITY-PUEBLO      61632.35897    MASTERS
44                 COLORADO STATE UNIVERSITY      61497.98965    MASTERS
45           UNIVERSITY OF TEXAS-SAN ANTONIO      60063.03797    MASTERS
46        UNIVERSITY OF TEXAS - PAN AMERICAN      60062.93229    MASTERS
47         UNIVERSITY OF TEXAS - BROWNSVILLE      59792.35185    MASTERS
48                  COLORADO MESA UNIVERSITY      56107.20833    MASTERS
49           UNIVERSITY OF NORTHERN COLORADO      51843.97076    MASTERS
50                       ADAMS STATE COLLEGE      48390.25926    MASTERS
51   METROPOLITAN STATE UNIVERSITY OF DENVER      42821.77778    MASTERS
52         WESTERN STATE COLORADO UNIVERSITY      39225.33333    MASTERS
53                  COLORADO SCHOOL OF MINES      $105,984.86   DOCTORAL
54              UT HEALTH CENTER-SAN ANTONIO      $105,270.88   DOCTORAL
55       UNIV OF TEXAS HEALTH SCIENCE CENTER      $104,768.35   DOCTORAL
56        UNIVERSITY OF TEXAS - PAN AMERICAN       $99,272.33   DOCTORAL
57             UNIVERSITY OF COLORADO DENVER       $98,400.50   DOCTORAL
58             UNIVERSITY OF TEXAS-ARLINGTON       $95,491.07   DOCTORAL
59        UNIV OF TEXAS SOUTHWESTERN MED CTR       $93,592.44   DOCTORAL
60              UNIV OF TEXAS MEDICAL BRANCH       $93,526.72   DOCTORAL
61             UNIVERSITY OF TEXAS AT DALLAS       $92,992.30   DOCTORAL
62                UNIVERSITY OF TEXAS-AUSTIN       $90,572.86   DOCTORAL
63           UNIVERSITY OF TEXAS-SAN ANTONIO       $79,470.17   DOCTORAL
64               UNIVERSITY OF TEXAS-EL PASO       $78,547.06   DOCTORAL
65                 COLORADO STATE UNIVERSITY       $77,315.31   DOCTORAL
66            UNIVERSITY OF COLORADO-BOULDER       $74,069.90   DOCTORAL
67           UNIVERSITY OF NORTHERN COLORADO       $67,152.91   DOCTORAL

[68 rows x 3 columns]

In [77]:
cd data

/Users/kabrinar/Desktop/data_bootcamp_project1/data